<div class="breadcrumb-bar" *ngIf = "doctorSidebar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{base | titlecase}}</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">{{page | titlecase}}</h2>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="doctorSidebar" class="col-md-5 col-lg-4 col-xl-3">
                <app-sidemenu></app-sidemenu>
            </div>
            <div *ngIf="doctorSidebar" class="col-md-7 col-lg-8 col-xl-9">
                <router-outlet></router-outlet>
            </div>
            <div *ngIf="!doctorSidebar" class="col-md-12 col-lg-12 col-xl-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

