<div class="main-wrapper">
<app-header [hidden]="!show"></app-header>
<app-home8header [hidden]="!showheader8"></app-home8header>
<app-home1header [hidden]="!showheader1"></app-home1header>
<app-home4header [hidden]="!showheader4"></app-home4header>
<app-home6header [hidden]="!showheader6"></app-home6header>
<app-home7header [hidden]="!showheader7"></app-home7header>
<router-outlet></router-outlet>
<app-footer *ngIf="loadFooter" [hidden]="hideFooter"></app-footer>
<app-home8footer *ngIf="loadFooter" [hidden]="hidefooter8"></app-home8footer>
<app-home1footer *ngIf="loadFooter" [hidden]="hidefooter1"></app-home1footer>
<app-home4footer *ngIf="loadFooter" [hidden]="hidefooter4"></app-home4footer>
<app-home6footer *ngIf="loadFooter" [hidden]="hidefooter6"></app-home6footer>
<app-home7footer *ngIf="loadFooter" [hidden]="hidefooter7"></app-home7footer>
</div>
<!-- Voice Call Modal -->
<div class="modal fade call-modal" id="voice_call">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
			
				<!-- Outgoing Call -->
				<div class="call-box incoming-box">
					<div class="call-wrapper">
						<div class="call-inner">
							<div class="call-user">
								<img alt="User Image" src="assets/img/patients/patient.jpg" class="call-avatar">
								<h4>Richard Wilson</h4>
								<span>Connecting...</span>
							</div>							
							<div class="call-items">
								<a href="javascript:void(0);" class="btn call-item call-end" data-dismiss="modal" aria-label="Close"><i class="material-icons">call_end</i></a>
								<a [routerLink]="'/voice-call'" class="btn call-item call-start"  data-dismiss="modal" aria-label="Close"><i class="material-icons">call</i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- Outgoing Call -->

			</div>
		</div>
	</div>
</div>
<!-- /Voice Call Modal -->
		
<!-- Video Call Modal -->
<div class="modal fade call-modal" id="video_call">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
			
				<!-- Incoming Call -->
				<div class="call-box incoming-box">
					<div class="call-wrapper">
						<div class="call-inner">
							<div class="call-user">
								<img class="call-avatar" src="assets/img/patients/patient.jpg" alt="User Image">
								<h4>Richard Wilson</h4>
								<span>Calling ...</span>
							</div>							
							<div class="call-items">
								<a href="javascript:void(0);" class="btn call-item call-end" data-dismiss="modal" aria-label="Close"><i class="material-icons">call_end</i></a>
								<a [routerLink]="'/video-call'" class="btn call-item call-start"  data-dismiss="modal" aria-label="Close"><i class="material-icons">videocam</i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- /Incoming Call -->
				
			</div>
		</div>
	</div>
</div>
<!-- Video Call Modal -->

<!-- Add Time Slot Modal -->
<div class="modal fade custom-modal" id="add_time_slot">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Time Slots</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="hours-info">
						<div class="row form-row hours-cont">
							<div class="col-12 col-md-10">
								<div class="row form-row">
									<div class="col-12 col-md-6">
										<div class="form-group">
											<label>Start Time</label>
											<select class="form-control">
												<option>-</option>
												<option>12.00 am</option>
												<option>12.30 am</option>  
												<option>1.00 am</option>
												<option>1.30 am</option>
											</select>
										</div> 
									</div>
									<div class="col-12 col-md-6">
										<div class="form-group">
											<label>End Time</label>
											<select class="form-control">
												<option>-</option>
												<option>12.00 am</option>
												<option>12.30 am</option>  
												<option>1.00 am</option>
												<option>1.30 am</option>
											</select>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="add-more mb-3">
						<a href="javascript:void(0);" class="add-hours"><i class="fa fa-plus-circle"></i> Add More</a>
					</div>
					<div class="submit-section text-center">
						<button type="submit" class="btn btn-primary submit-btn" data-dismiss="modal" aria-label="Close">Save Changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /Add Time Slot Modal -->

<!-- Edit Time Slot Modal -->
<div class="modal fade custom-modal" id="edit_time_slot">

	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit Time Slots</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="hours-info">
						<div class="row form-row hours-cont">
							<div class="col-12 col-md-10">
								<div class="row form-row">
									<div class="col-12 col-md-6">
										<div class="form-group">
											<label>Start Time</label>
											<select class="form-control">
												<option>-</option>
												<option selected>12.00 am</option>
												<option>12.30 am</option>  
												<option>1.00 am</option>
												<option>1.30 am</option>
											</select>
										</div> 
									</div>
									<div class="col-12 col-md-6">
										<div class="form-group">
											<label>End Time</label>
											<select class="form-control">
												<option>-</option>
												<option>12.00 am</option>
												<option selected>12.30 am</option>  
												<option>1.00 am</option>
												<option>1.30 am</option>
											</select>
										</div> 
									</div>
								</div>
							</div>
						</div>
						
						<div class="row form-row hours-cont">
							<div class="col-12 col-md-10">
								<div class="row form-row">
									<div class="col-12 col-md-6">
										<div class="form-group">
											<label>Start Time</label>
											<select class="form-control">
												<option>-</option>
												<option>12.00 am</option>
												<option selected>12.30 am</option>
												<option>1.00 am</option>
												<option>1.30 am</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="form-group">
											<label>End Time</label>
											<select class="form-control">
												<option>-</option>
												<option>12.00 am</option>
												<option>12.30 am</option>
												<option selected>1.00 am</option>
												<option>1.30 am</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-2"><label class="d-md-block d-sm-none d-none">&nbsp;</label><a href="javascript:void(0);" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
						</div>
						
						<div class="row form-row hours-cont">
							<div class="col-12 col-md-10">
								<div class="row form-row">
									<div class="col-12 col-md-6">
										<div class="form-group">
											<label>Start Time</label>
											<select class="form-control">
												<option>-</option>
												<option>12.00 am</option>
												<option>12.30 am</option>
												<option selected>1.00 am</option>
												<option>1.30 am</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="form-group">
											<label>End Time</label>
											<select class="form-control">
												<option>-</option>
												<option>12.00 am</option>
												<option>12.30 am</option>
												<option>1.00 am</option>
												<option selected>1.30 am</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-2"><label class="d-md-block d-sm-none d-none">&nbsp;</label><a href="javascript:void(0);" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
						</div>

					</div>
					
					<div class="add-more mb-3">
						<a href="javascript:void(0);" class="add-hours"><i class="fa fa-plus-circle"></i> Add More</a>
					</div>
					<div class="submit-section text-center">
						<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /Edit Time Slot Modal -->

<!-- Add Medical Records Modal -->
<div class="modal fade custom-modal" id="add_medical_records">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Medical Records</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form>					
                <div class="modal-body">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control datetimepicker" value="31-10-2019">
                    </div>
                    <div class="form-group">
                        <label>Description ( Optional )</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Upload File</label> 
                        <input type="file" class="form-control">
                    </div>	
                    <div class="submit-section text-center">
                        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                        <button type="button" class="btn btn-secondary submit-btn" data-dismiss="modal">Cancel</button>							
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Add Medical Records Modal -->

<!-- Add Event Modal -->
<div id="add_event" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Event Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Event Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Event Modal -->

<!-- Add Event Modal -->
<div class="modal fade none-border" id="my_event">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Event</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success save-event submit-btn">Create event</button>
                <button type="button" class="btn btn-danger delete-event submit-btn" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- /Add Event Modal -->

<!-- Add Category Modal -->
<div class="modal fade" id="add_new_event">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Category Name</label>
                        <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name" />
                    </div>
                    <div class="form-group mb-0">
                        <label>Choose Category Color</label>
                        <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                            <option value="success">Success</option>
                            <option value="danger">Danger</option>
                            <option value="info">Info</option>
                            <option value="primary">Primary</option>
                            <option value="warning">Warning</option>
                            <option value="inverse">Inverse</option>
                        </select>
                    </div>
                    <div class="submit-section">
                        <button type="button" class="btn btn-primary save-category submit-btn" data-dismiss="modal">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Category Modal -->

<!-- Payment Request Moodal -->
<div class="modal fade custom-modal" id="payment_request_modal" role="dialog" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Payment Request</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<form id="payment_request_form" method="post">
					<input type="hidden" name="payment_type" id="payment_type" value="1">
					<div class="form-group">
						<label>Request Amount</label>
						<input type="text" name="request_amount" id="request_amount" class="form-control" maxlength="6" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label>Description (Optional)</label>
						<textarea class="form-control" name="description" id="description"></textarea>
						<span class="help-block"></span>
					</div>
				</form>
			</div>
			<div class="modal-footer text-center">
				<button type="submit" id="request_btn" class="btn btn-primary">Request</button>
			</div>
		</div>
	</div>
</div>
<!-- /Payment Request Moodal -->

<!-- Account Details Modal-->
<div class="modal fade custom-modal" id="account_modal" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Account Details</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<form id="accounts_form" method="post">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Bank Name</label>
								<input type="text" name="bank_name" class="form-control bank_name" value="Wells Fargo & Co">
								<span class="help-block"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Branch Name</label>
								<input type="text" name="branch_name" class="form-control branch_name" value="Lenexa">
								<span class="help-block"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Account Number</label>
								<input type="text" name="account_no" class="form-control account_no" value="5396 5250 1908 3838">
								<span class="help-block"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Account Name</label>
								<input type="text" name="account_name" class="form-control acc_name" value="Dr. Darren Elder">
								<span class="help-block"></span>
							</div>
						</div> 
					</div>
				</form>
			</div>
			<div class="modal-footer text-center">
				<button type="submit" id="acc_btn" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- /Account Details Modal-->

<!-- Graph One-->
<div class="modal fade custom-modal show" id="graph1">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">BMI Status</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="bmi-status">
					<apx-chart
					  [series]="chartOptions.series"
					  [chart]="chartOptions.chart"
					  [xaxis]="chartOptions.xaxis"
					  [stroke]="chartOptions.stroke"
					  [colors]="chartOptions.colors"
					  [dataLabels]="chartOptions.dataLabels"
					  [legend]="chartOptions.legend"
					  [markers]="chartOptions.markers"
					  [grid]="chartOptions.grid"
					  [yaxis]="chartOptions.yaxis"
					  [title]="chartOptions.title"
					></apx-chart>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Graph One-->

<!-- Graph Two-->
<div class="modal fade custom-modal show" id="graph2">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Heart Rate Status</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="heartrate-status">
					<apx-chart
					  [series]="chartOptionsheartrate.series"
					  [chart]="chartOptionsheartrate.chart"
					  [xaxis]="chartOptionsheartrate.xaxis"
					  [stroke]="chartOptionsheartrate.stroke"
					  [dataLabels]="chartOptionsheartrate.dataLabels"
					  [markers]="chartOptionsheartrate.markers"
					  [yaxis]="chartOptionsheartrate.yaxis"
					  [title]="chartOptionsheartrate.title"
					  [fill]="chartOptionsheartrate.fill" 
					></apx-chart>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Graph Two-->

<!-- Graph Three-->
<div class="modal fade custom-modal show" id="graph3">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">FBC Status</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="fbc-status">
					<apx-chart
					  [series]="chartOptionsfbc.series"
					  [chart]="chartOptionsfbc.chart"
					  [xaxis]="chartOptionsfbc.xaxis"
					  [dataLabels]="chartOptionsfbc.dataLabels"
					  [plotOptions]="chartOptionsfbc.plotOptions"
					  [yaxis]="chartOptionsfbc.yaxis"
					  [title]="chartOptionsfbc.title"
					  [fill]="chartOptionsfbc.fill" 
					></apx-chart>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Graph Three-->

<!-- Graph Four-->
<div class="modal fade custom-modal show" id="graph4">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Weight Status</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="weight-status">
					<apx-chart
					  [series]="chartOptionsweight.series"
					  [chart]="chartOptionsweight.chart"
					  [markers]="chartOptionsweight.markers"
					  [dataLabels]="chartOptionsweight.dataLabels"
					  [stroke]="chartOptionsweight.stroke"
					  [title]="chartOptionsweight.title"
					></apx-chart>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Graph Four-->

<!-- Add Dependent Modal-->
<div id="modal_form" class="modal fade custom-modal" tabindex="-1" role="dialog" aria-modal="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form action="#" enctype="multipart/form-data" autocomplete="off" method="post"> 
				<div class="modal-header">
					<h5 class="modal-title">Add new member</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label mb-10"> Name <span class="text-danger">*</span></label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Relationship </label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Gender </label>
						<select class="form-control" >
							<option value="">Select</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label mb-10">DOB </label>
						<input type="text" name="dob" id="dep-dob" value="" readonly="" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Photo </label>
						<input type="file" class="form-control">
					</div>
				</div>
				<div class="modal-footer text-center">
					<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /Add Dependent Modal-->

<!-- Edit Dependent Modal-->
<div id="edit_form" class="modal fade custom-modal" tabindex="-1" role="dialog" aria-modal="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form action="#" enctype="multipart/form-data" autocomplete="off" method="post"> 
				<div class="modal-header">
					<h5 class="modal-title">Edit member</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label mb-10"> Name <span class="text-danger">*</span></label>
						<input type="text" class="form-control" value="Christopher">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Relationship </label>
						<input type="text" class="form-control" value="son">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Gender </label>
						<select class="form-control" >
							<option value="">Select</option>
							<option value="Male" selected>Male</option>
							<option value="Female">Female</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label mb-10">DOB </label>
						<input type="text" name="dob" id="dep-editdob" value="01/12/2021" readonly="" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Photo </label>
						<input type="file" class="form-control">
					</div>
				</div>
				<div class="modal-footer text-center">
					<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /Edit Dependent Modal-->

<!-- Patient Account Details Modal -->
<div class="modal fade custom-modal" id="patient_account_modal" role="dialog" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Account Details</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<form id="patient_accounts_form" method="post">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Bank Name</label>
								<input type="text" name="bank_name" class="form-control bank_name" value="Goldman Sachs">
								<span class="help-block"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Branch Name</label>
								<input type="text" name="branch_name" class="form-control branch_name" value="Alpharetta">
								<span class="help-block"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Account Number</label>
								<input type="text" name="account_no" class="form-control account_no" value="4916 0606 4635 5064">
								<span class="help-block"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Account Name</label>
								<input type="text" name="account_name" class="form-control acc_name" value="Richard Wilson">
								<span class="help-block"></span>
							</div>
						</div> 
					</div>
				</form>
			</div>
			<div class="modal-footer text-center">
				<button type="submit" id="acc_btn" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- /Patient Account Details Modal -->

<!-- Medical Records Modal -->
<div class="modal fade custom-modal custom-medicalrecord-modal" id="add_medical_records_modal" style="display: none;" data-select2-id="add_medical_records_modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Medical Records</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<form id="medical_records_form" enctype="multipart/form-data">          
				<div class="modal-body">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label>Title Name</label>
								<input type="text" name="description" class="form-control" placeholder="Enter Title Name">
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label>Patient</label>
								<ng-select2 width="100%">
                                    <option>Select</option>
									<option>Myself</option>
									<option>Child_1</option>
									<option>Self</option>
                                </ng-select2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label>Hospital Name</label>
								<input type="text" name="hospital" class="form-control" placeholder="Enter name here..">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label>Upload</label>
								<div class="upload-medical-records">
									<input class="form-control" type="file" name="user_file" id="user_files_mr">
									<div class="upload-content dropzone">
										<div class="text-center">
											<div class="upload-icon mb-2"><img src="assets/img/upload-icon.png" alt=""></div>
											<h5>Drag &amp; Drop</h5>
											<h6>or <span class="text-danger">Browse</span></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label>Symptoms</label>
								<input type="text" data-role="tagsinput" class="input-tags form-control" value="Fever, Fatigue" name="services" id="services">
							</div> 
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label>Date</label>
								<div class="form-group">
									<input type="date" class="form-control" name="tratment_date" id="tratment_date">
								</div> 
							</div>
						</div>
					</div>
					<div class="text-center mt-4">
						<div class="submit-section text-center">
							<button type="submit" id="medical_btn" class="btn btn-primary submit-btn">Submit</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /Medical Records Modal -->

<!-- Add Medical Detail -->
<div id="modal_medical_form" class="modal fade custom-modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form action="#" enctype="multipart/form-data" autocomplete="off" method="post"> 
				<div class="modal-header">
					<h5 class="modal-title">Add new data</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" value="" name="id"> 
					<input type="hidden" value="insert" name="method">
					<div class="form-group">
						<label class="control-label mb-10"> BMI <span class="text-danger">*</span></label>
						<input type="text" name="bmi" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Heart rate </label>
						<input type="text" name="hr" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Weight</label>
						<input type="text" name="Weight" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Fbc</label>
						<input type="text" name="Fbc" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Created Date </label>
						<input type="text" name="dob" id="dob" value="" readonly="" class="form-control">
					</div>
				</div>
				<div class="modal-footer text-center">
					<button type="submit" class="btn btn-outline btn-success ">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /Add Medical Detail -->

<!-- Edit Medical Detail -->
<div id="edit_medical_form" class="modal fade custom-modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form action="#" enctype="multipart/form-data" autocomplete="off" method="post"> 
				<div class="modal-header">
					<h5 class="modal-title">Add new data</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" value="" name="id"> 
					<input type="hidden" value="insert" name="method">
					<div class="form-group">
						<label class="control-label mb-10"> BMI <span class="text-danger">*</span></label>
						<input type="text" name="bmi" class="form-control" value="23.7">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Heart rate </label>
						<input type="text" name="hr" class="form-control" value="89">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Weight</label>
						<input type="text" name="Weight" class="form-control" value="74">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Fbc</label>
						<input type="text" name="Fbc" class="form-control" value="140">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Created Date </label>
						<input type="text" name="dob" id="editdob" value="11/11/2019" readonly="" class="form-control">
					</div>
				</div>
				<div class="modal-footer text-center">
					<button type="submit" class="btn btn-outline btn-success ">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /Edit Medical Detail -->