<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
				
					<!-- Call Wrapper -->
					<div class="call-wrapper">
						<div class="call-main-row">
							<div class="call-main-wrapper">
								<div class="call-view">
									<div class="call-window">
									
										<!-- Call Header -->
										<div class="fixed-header">
											<div class="navbar">
												<div class="user-details">
													<div class="float-left user-img">
														
														<a class="avatar avatar-sm mr-2" [routerLink]="'patients/patient-profile'" title="Kacee Butler">
															<img src="assets/img/patients/patient1.jpg" alt="User Image" class="rounded-circle">
															<span class="status online"></span>
														</a>
													</div>
													<div class="user-info float-left">
														<a [routerLink]="'patients/patient-profile'"><span>Kacee Butler</span></a>
														<span class="last-seen">Online</span>
													</div>
												</div>
												<span class="call-duration float-right">00:59</span>
											</div>
										</div>
										<!-- /Call Header -->
										
										<!-- Call Contents -->
										<div class="call-contents">
											<div class="call-content-wrap">
												<div class="user-video">
													<img src="assets/img/video-call.jpg" alt="User Image">
												</div>
												<div class="my-video">
													<ul>
														<li>
															<img src="assets/img/patients/patient1.jpg" class="img-fluid" alt="User Image">
														</li>
													</ul>
												</div>
											</div>
										</div>
										<!-- Call Contents -->
										
										<!-- Call Footer -->
										<div class="call-footer">
											<div class="call-icons">
												<!-- <span class="call-duration">00:59</span> -->
												<div class="toggle-voice-video">
													<label class="switch"><input type="checkbox" id="togBtn"><div class="slider round"></div></label>
												</div>
												<ul class="call-items">
													<li class="call-item">
														<a href="" title="Mute Audio" data-placement="top" data-toggle="tooltip">
															<i class="fa fa-microphone microphone"></i>
														</a>
													</li>
													<li class="end-call-new">
														<a href="javascript:void(0);" title="End Call" data-placement="top" data-toggle="tooltip">
															<i class="material-icons">call_end</i>
														</a>
													</li>													
												</ul>
												<!-- <div class="end-call">
													<a href="javascript:void(0);">
														<i class="material-icons">call_end</i>
													</a>
												</div> -->
											</div>
										</div>
										<!-- /Call Footer -->
										
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- /Call Wrapper -->
					
				</div>

			</div>		
			<!-- /Page Content -->