	<div class="content">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-md-8 offset-md-2">
								
							<!-- Register Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src="assets/img/login-banner.png" class="img-fluid" alt="Dr. HP Register">	
									</div>
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3>{{reg_type}} <a href="javascript:void(0)" (click) = "changeRegType()">{{doc_patient}}</a></h3>
										</div>
										
										<!-- Register Form -->
										<form>
											<div class="form-group form-focus">
												<input type="text" name="name"  class="form-control floating" [(ngModel)]="name">
												<label class="focus-label">Name<span class="required">*</span></label>
											</div>

											<div class="form-group form-focus">
												<input type="text" name="mobile"  class="form-control floating" [(ngModel)]="mobile" max="9">
												<label class="focus-label">Mobile Number<span class="required">*</span></label>
											</div>

											<div class="form-group form-focus">
												<input type="password" name="password" class="form-control floating"  [(ngModel)]="password">
												<label class="focus-label">Create Password<span class="required">*</span></label>
											</div>
											<div class="text-right">
												<a class="forgot-link" [routerLink]="'/login-page'">Already have an account?</a>
											</div>
											<button class="btn btn-primary btn-block btn-lg login-btn" type="submit" (click)="signup()">Signup</button>
											<div class="login-or">
												<span class="or-line"></span>
												<span class="span-or">or</span>
											</div>
											<div class="row form-row social-login">
												<div class="col-6">
													<a href="javascript:void(0)" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> Login</a>
												</div>
												<div class="col-6">
													<a href="javascript:void(0)" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>
												</div>
											</div>
										</form>
										<!-- /Register Form -->
										
									</div>
								</div>
							</div>
							<!-- /Register Content -->
								
						</div>
					</div>

				</div>

			</div>		