<div class="doc-review review-listing">
                            
                        <!-- Review Listing -->
                        <ul class="comments-list">
                        
                            <!-- Comment List -->
                            <li>
                                <div class="comment">
                                    <img class="avatar rounded-circle" alt="User Image" src="assets/img/patients/patient.jpg">
                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <span class="comment-author">Richard Wilson</span>
                                            <span class="comment-date">Reviewed 2 Days ago</span>
                                            <div class="review-count rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <p class="recommended"><i class="far fa-thumbs-up"></i> I recommend the doctor</p>
                                        <p class="comment-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation.
                                            Curabitur non nulla sit amet nisl tempus
                                        </p>
                                        <div class="comment-reply">
                                            <a class="comment-btn" href="javascript:void(0)">
                                                <i class="fas fa-reply"></i> Reply
                                            </a>
                                            <p class="recommend-btn">
                                            <span>Recommend?</span>
                                            <a href="javascript:void(0)" class="like-btn">
                                                <i class="far fa-thumbs-up"></i> Yes
                                            </a>
                                            <a href="javascript:void(0)" class="dislike-btn">
                                                <i class="far fa-thumbs-down"></i> No
                                            </a>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Comment Reply -->
                                <ul class="comments-reply">
                                
                                    <!-- Comment Reply List -->
                                    <li>
                                        <div class="comment">
                                            <img class="avatar rounded-circle" alt="User Image" src="assets/img/doctors/dr-harry-img.png">
                                            <div class="comment-body">
                                                <div class="meta-data">
                                                    <span class="comment-author">Dr. Harry Papagapiou</span>
                                                    <span class="comment-date">Reviewed 3 Days ago</span>
                                                </div>
                                                <p class="comment-content">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    Ut enim ad minim veniam.
                                                    Curabitur non nulla sit amet nisl tempus
                                                </p>
                                                <div class="comment-reply">
                                                    <a class="comment-btn" href="javascript:void(0)">
                                                        <i class="fas fa-reply"></i> Reply
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- /Comment Reply List -->
                                    
                                </ul>
                                <!-- /Comment Reply -->
                                
                            </li>
                            <!-- /Comment List -->
                            
                            <!-- Comment List -->
                            <li>
                                <div class="comment">
                                    <img class="avatar rounded-circle" alt="User Image" src="assets/img/patients/patient2.jpg">
                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <span class="comment-author">Zandile Ndarala</span>
                                            <span class="comment-date">Reviewed 4 Days ago</span>
                                            <div class="review-count rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                            </div>
                                        </div>
                                        <p class="comment-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation.
                                            Curabitur non nulla sit amet nisl tempus
                                        </p>
                                        <div class="comment-reply">
                                            <a class="comment-btn" href="javascript:void(0)">
                                                <i class="fas fa-reply"></i> Reply
                                            </a>
                                            <p class="recommend-btn">
                                                <span>Recommend?</span>
                                                <a href="javascript:void(0)" class="like-btn">
                                                    <i class="far fa-thumbs-up"></i> Yes
                                                </a>
                                                <a href="javascript:void(0)" class="dislike-btn">
                                                    <i class="far fa-thumbs-down"></i> No
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- /Comment List -->
                            
                            <!-- Comment List -->
                            <li>
                                <div class="comment">
                                    <img class="avatar rounded-circle" alt="User Image" src="assets/img/patients/patient3.jpg">
                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <span class="comment-author">Lucy Maboya</span>
                                            <span class="comment-date">Reviewed 5 Days ago</span>
                                            <div class="review-count rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                            </div>
                                        </div>
                                        <p class="comment-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation.
                                            Curabitur non nulla sit amet nisl tempus
                                        </p>
                                        <div class="comment-reply">
                                            <a class="comment-btn" href="javascript:void(0)">
                                                <i class="fas fa-reply"></i> Reply
                                            </a>
                                            <p class="recommend-btn">
                                                <span>Recommend?</span>
                                                <a href="javascript:void(0)" class="like-btn">
                                                    <i class="far fa-thumbs-up"></i> Yes
                                                </a>
                                                <a href="javascript:void(0)" class="dislike-btn">
                                                    <i class="far fa-thumbs-down"></i> No
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- /Comment List -->
                            
                            <!-- Comment List -->
                            <li>
                                <div class="comment">
                                    <img class="avatar rounded-circle" alt="User Image" src="assets/img/patients/patient4.jpg">
                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <span class="comment-author">Tebogo Legodi</span>
                                            <span class="comment-date">Reviewed 6 Days ago</span>
                                            <div class="review-count rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                            </div>
                                        </div>
                                        <p class="comment-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation.
                                            Curabitur non nulla sit amet nisl tempus
                                        </p>
                                        <div class="comment-reply">
                                            <a class="comment-btn" href="javascript:void(0)">
                                                <i class="fas fa-reply"></i> Reply
                                            </a>
                                            <p class="recommend-btn">
                                                <span>Recommend?</span>
                                                <a href="javascript:void(0)" class="like-btn">
                                                    <i class="far fa-thumbs-up"></i> Yes
                                                </a>
                                                <a href="javascript:void(0)" class="dislike-btn">
                                                    <i class="far fa-thumbs-down"></i> No
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- /Comment List -->
                            
                            <!-- Comment List -->
                            <li>
                                <div class="comment">
                                    <img class="avatar rounded-circle" alt="User Image" src="assets/img/patients/patient5.jpg">
                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <span class="comment-author">Thobile Ntuli</span>
                                            <span class="comment-date">Reviewed 1 Week ago</span>
                                            <div class="review-count rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                            </div>
                                        </div>
                                        <p class="comment-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation.
                                            Curabitur non nulla sit amet nisl tempus
                                        </p>
                                        <div class="comment-reply">
                                            <a class="comment-btn" href="javascript:void(0)">
                                                <i class="fas fa-reply"></i> Reply
                                            </a>
                                            <p class="recommend-btn">
                                                <span>Recommend?</span>
                                                <a href="javascript:void(0)" class="like-btn">
                                                    <i class="far fa-thumbs-up"></i> Yes
                                                </a>
                                                <a href="javascript:void(0)" class="dislike-btn">
                                                    <i class="far fa-thumbs-down"></i> No
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- /Comment List -->
                            
                            <!-- Comment List -->
                            <li>
                                <div class="comment">
                                    <img class="avatar rounded-circle" alt="User Image" src="assets/img/patients/patient9.jpg">
                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <span class="comment-author">Walter Roberson</span>
                                            <span class="comment-date">Reviewed 1 Week ago</span>
                                            <div class="review-count rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                            </div>
                                        </div>
                                        <p class="comment-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation.
                                            Curabitur non nulla sit amet nisl tempus
                                        </p>
                                        <div class="comment-reply">
                                            <a class="comment-btn" href="javascript:void(0)">
                                                <i class="fas fa-reply"></i> Reply
                                            </a>
                                            <p class="recommend-btn">
                                                <span>Recommend?</span>
                                                <a href="javascript:void(0)" class="like-btn">
                                                    <i class="far fa-thumbs-up"></i> Yes
                                                </a>
                                                <a href="javascript:void(0)" class="dislike-btn">
                                                    <i class="far fa-thumbs-down"></i> No
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- /Comment List -->
                            
                            <!-- Comment List -->
                            <li>
                                <div class="comment">
                                    <img class="avatar rounded-circle" alt="User Image" src="assets/img/patients/patient8.jpg">
                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <span class="comment-author">Daniel Griffing</span>
                                            <span class="comment-date">Reviewed on 1 Nov 2019</span>
                                            <div class="review-count rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                            </div>
                                        </div>
                                        <p class="comment-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation.
                                            Curabitur non nulla sit amet nisl tempus
                                        </p>
                                        <div class="comment-reply">
                                            <a class="comment-btn" href="javascript:void(0)">
                                                <i class="fas fa-reply"></i> Reply
                                            </a>
                                            <p class="recommend-btn">
                                                <span>Recommend?</span>
                                                <a href="javascript:void(0)" class="like-btn">
                                                    <i class="far fa-thumbs-up"></i> Yes
                                                </a>
                                                <a href="javascript:void(0)" class="dislike-btn">
                                                    <i class="far fa-thumbs-down"></i> No
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- /Comment List -->
                            
                        </ul>
                        <!-- /Comment List -->
                        
                    </div>