	<!-- Home Banner -->
			<section class="section home-banner">
				<div class="container-fluid">
					<div class="row banner-wrapper">
						<div class="col-md-12">
							<div class="banner-header">
								<h3>Be Hear Healthy</h3>
								<h1>The correct assistance 
									at the perfect time</h1>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indstandard dummy text ever</p>
								<a class="btn btn-primary mt-5">Read More</a>
								<a class="btn btn-secondary mt-5">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Home Banner -->

			<!-- Our Benefits -->
			<section class="our-benefits">
				<div class="row m-0">
					<div class="col-md-12 col-lg-6 benefits-text">
						<h3 class="top-title">Our Benefits</h3>
						<h2 class="section-title">Choose Our Physcatrist Treatment for Your Solutions</h2>
						<p class="mb-4">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
						
						<div class="row">
							<div class="col-md-6 mb-3">
								<h4>BEST PROCEDURES</h4>
								<p class="para-text mt-3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
							<div class="col-md-6 mb-3">
								<h4>ANALYZING TOGETHER</h4>
								<p class="para-text mt-3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
							<div class="col-md-6 mb-3">
								<h4>UNDERSTANDING YOU</h4>
								<p class="para-text mt-3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
							<div class="col-md-6 mb-3">
								<h4>LIGHT AT THE END</h4>
								<p class="para-text mt-3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 p-0">
						<div class="bene-img">
							<img src="assets/img/our-benefits.png" alt="Our Benefits" class="img-fluid" />
						</div>
					</div>
				</div>
			</section>
			<!-- /Our Benefits -->

			<!-- Speak to Expert -->
			<section class="speak-expert">
				<div class="row m-0">
					<div class="col-md-12 col-lg-6 p-0">
						<div class="speak-expert-img">
							<img src="assets/img/speak-expert.png" alt="Speak to Expert" class="img-fluid" />
						</div>
					</div>
					<div class="col-md-12 col-lg-6 speak-expert-text">
						<h2 class="section-title">Speak to an expert now</h2>
						<p class="mt-2">Your first consultation is on us. We understand the importance of taking the first step.</p>

						<p class="mt-2">That’s why your first consultation with us is FREE.</p>
						<div>
							<a href="#" class="btn btn-secondary mt-3">Contact Us</a>
						</div>						
					</div>
				</div>
			</section>
			<!-- /Speak to Expert -->

			<!-- Our Solutions -->
			<section class="our-solutions">
				<div class="container">
					<h2 class="section-title">Our PROVIDE SOLUTIONS FOR</h2>

					<div class="row mt-5">
						<div class="col-sm-6 col-md-4 col-lg-3">
							<div class="card">
								<h5>Physical stress</h5>
								<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
								<a href="#" class="read-more-text">Readmore</a>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<div class="card">
								<h5>Psychological stress</h5>
								<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
								<a href="#" class="read-more-text">Readmore</a>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<div class="card">
								<h5>Psychological stress</h5>
								<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
								<a href="#" class="read-more-text">Readmore</a>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<div class="card">
								<h5>Psychosocial stress</h5>
								<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
								<a href="#" class="read-more-text">Readmore</a>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<div class="card">
								<h5>Psycho-spiritual stress</h5>
								<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
								<a href="#" class="read-more-text">Readmore</a>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<div class="card">
								<h5>Cognitive</h5>
								<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
								<a href="#" class="read-more-text">Readmore</a>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<div class="card">
								<h5>Emotional</h5>
								<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
								<a href="#" class="read-more-text">Readmore</a>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<div class="card">
								<h5>Behaviour</h5>
								<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
								<a href="#" class="read-more-text">Readmore</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Our Solutions -->

			<!-- Our Team -->
			<section class="our-team">
				<div class="container">
					<h3 class="top-title">Qualified Professional</h3>
					<h2 class="section-title">Our Team</h2>

					<div class="row mt-5">
						<div class="col-sm-6 col-md-3">
							<div class="card">
								<img src="assets/img/our-team-01.jpg" class="card-img-top" alt="Our Team">
								<div class="card-body">
								  <a class="card-title" href="doctor-profile.html">John Wolff</a>
								  <p class="card-text">Chief Psychiatrist</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card">
								<img src="assets/img/our-team-02.jpg" class="card-img-top" alt="Our Team">
								<div class="card-body">
								  <a class="card-title" href="doctor-profile.html">Gordon Johnson</a>
								  <p class="card-text">Chief Psychiatrist</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card">
								<img src="assets/img/our-team-03.jpg" class="card-img-top" alt="Our Team">
								<div class="card-body">
								  <a class="card-title" href="doctor-profile.html">Lisa Clark</a>
								  <p class="card-text">Chief Psychiatrist</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card">
								<img src="assets/img/our-team-01.jpg" class="card-img-top" alt="Our Team">
								<div class="card-body">
								  <a class="card-title" href="doctor-profile.html">John Wolff</a>
								  <p class="card-text">Chief Psychiatrist</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Our Team -->

			<!-- Testimonial -->
			<section class="testimonial">
				<div class="container">
					<h3 class="top-title text-center">Testimonials</h3>
					<h2 class="section-title text-center">WHat PEOPLE SAY ABOUT US</h2>
					<p class="text-center">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>

					<div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="row">
									<div class="col-sm-4 col-md-4">
										<div class="card">
											<div class="user-details">
												<div class="d-flex justify-content-between align-items-center">
													<img src="assets/img/testimonial/testi-01.jpg" alt="User Pic" />
													<h4 class="patient-name">Bruce Matis</h4>
												</div>												
												<i class="fas fa-quote-left"></i>
											</div>
											<div class="card-body">
												<p>It has survived not only five centuries, but also the  
													leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem </p>
											</div>
										</div>
									</div>

									<div class="col-sm-4 col-md-4">
										<div class="card">
											<div class="user-details">
												<div class="d-flex justify-content-between align-items-center">
													<img src="assets/img/testimonial/testi-02.jpg" alt="User Pic" />
													<h4 class="patient-name">Violet Johnson</h4>
												</div>												
												<i class="fas fa-quote-left"></i>
											</div>
											<div class="card-body">
												<p>It has survived not only five centuries, but also the  
													leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem </p>
											</div>
										</div>
									</div>

									<div class="col-sm-4 col-md-4">
										<div class="card">
											<div class="user-details">
												<div class="d-flex justify-content-between align-items-center">
													<img src="assets/img/testimonial/testi-03.jpg" alt="User Pic" />
													<h4 class="patient-name">Terrence Smith</h4>
												</div>												
												<i class="fas fa-quote-left"></i>
											</div>
											<div class="card-body">
												<p>It has survived not only five centuries, but also the  
													leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem </p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="row">
									<div class="col-sm-4 col-md-4">
										<div class="card">
											<div class="user-details">
												<div class="d-flex justify-content-between align-items-center">
													<img src="assets/img/testimonial/testi-01.jpg" alt="User Pic" />
													<h4 class="patient-name">Bruce Matis</h4>
												</div>												
												<i class="fas fa-quote-left"></i>
											</div>
											<div class="card-body">
												<p>It has survived not only five centuries, but also the  
													leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem </p>
											</div>
										</div>
									</div>

									<div class="col-sm-4 col-md-4">
										<div class="card">
											<div class="user-details">
												<div class="d-flex justify-content-between align-items-center">
													<img src="assets/img/testimonial/testi-02.jpg" alt="User Pic" />
													<h4 class="patient-name">Violet Johnson</h4>
												</div>												
												<i class="fas fa-quote-left"></i>
											</div>
											<div class="card-body">
												<p>It has survived not only five centuries, but also the  
													leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem </p>
											</div>
										</div>
									</div>

									<div class="col-sm-4 col-md-4">
										<div class="card">
											<div class="user-details">
												<div class="d-flex justify-content-between align-items-center">
													<img src="assets/img/testimonial/testi-03.jpg" alt="User Pic" />
													<h4 class="patient-name">Terrence Smith</h4>
												</div>												
												<i class="fas fa-quote-left"></i>
											</div>
											<div class="card-body">
												<p>It has survived not only five centuries, but also the  
													leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem </p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="row">
									<div class="col-sm-4 col-md-4">
										<div class="card">
											<div class="user-details">
												<div class="d-flex justify-content-between align-items-center">
													<img src="assets/img/testimonial/testi-01.jpg" alt="User Pic" />
													<h4 class="patient-name">Bruce Matis</h4>
												</div>												
												<i class="fas fa-quote-left"></i>
											</div>
											<div class="card-body">
												<p>It has survived not only five centuries, but also the  
													leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem </p>
											</div>
										</div>
									</div>

									<div class="col-sm-4 col-md-4">
										<div class="card">
											<div class="user-details">
												<div class="d-flex justify-content-between align-items-center">
													<img src="assets/img/testimonial/testi-02.jpg" alt="User Pic" />
													<h4 class="patient-name">Violet Johnson</h4>
												</div>												
												<i class="fas fa-quote-left"></i>
											</div>
											<div class="card-body">
												<p>It has survived not only five centuries, but also the  
													leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem </p>
											</div>
										</div>
									</div>

									<div class="col-sm-4 col-md-4">
										<div class="card">
											<div class="user-details">
												<div class="d-flex justify-content-between align-items-center">
													<img src="assets/img/testimonial/testi-03.jpg" alt="User Pic" />
													<h4 class="patient-name">Terrence Smith</h4>
												</div>												
												<i class="fas fa-quote-left"></i>
											</div>
											<div class="card-body">
												<p>It has survived not only five centuries, but also the  
													leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem </p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Testimonial -->

			<!-- Count Info -->
			<div class="count-info">
				<div class="container">
					<div class="row">
						<div class="col-md-3 mb-3">
							<h2 class="white-text">560+</h2>
							<h6 class="white-text mb-0">Satisfied Patients</h6>
						</div>						
						<div class="col-md-3 mb-3">
							<h2 class="white-text">17+</h2>
							<h6 class="white-text mb-0">Professional Doctors</h6>
						</div>
						<div class="col-md-3 mb-3">
							<h2 class="white-text">100%</h2>
							<h6 class="white-text mb-0">Person's Care</h6>
						</div>
						<div class="col-md-3 mb-3">
							<h2 class="white-text">10</h2>
							<h6 class="white-text mb-0">Years Experience</h6>
						</div>
					</div>
				</div>
			</div>
			<!-- Count Info -->

			<!-- News and Events -->
			<section class="news-events">
				<div class="container">
					<h3 class="top-title text-center">Doccure News</h3>
					<h2 class="section-title text-center">Latest News and Events</h2>

					<div class="row mt-5">
						<div class="col-md-4">
							<div class="card">
								<img src="assets/img/news-event-01.jpg" class="card-img-top" alt="News and Events">
								<div class="card-body">
								  <h5 class="card-title">Category Name</h5>
								  <h3>Who's the inner you?</h3>
								  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  <h6>Posted By: Admin</h6>
								  <a href="blog-details.html" class="read-more-text">Readmore</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<img src="assets/img/news-event-02.jpg" class="card-img-top" alt="News and Events">
								<div class="card-body">
								  <h5 class="card-title">Category Name</h5>
								  <h3>Who's the inner you?</h3>
								  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  <h6>Posted By: Admin</h6>
								  <a href="blog-details.html" class="read-more-text">Readmore</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<img src="assets/img/news-event-03.jpg" class="card-img-top" alt="News and Events">
								<div class="card-body">
								  <h5 class="card-title">Category Name</h5>
								  <h3>Who's the inner you?</h3>
								  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  <h6>Posted By: Admin</h6>
								  <a href="blog-details.html" class="read-more-text">Readmore</a>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center mt-3 mb-3">
						<a href="blog-list.html" class="btn btn-primary">MORE BLOG</a>
					</div>
				</div>
			</section>
			<!-- /News and Events -->