
<!-- Home Banner -->
<section class="doctor-search-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="doctor-search">
                    <div class="banner-header">
                        <h2>Search Doctor, <br> Make an Appointment</h2>
                    </div>
                    <div class="doctor-form">
                        <form action="#" class="doctor-search-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Location</label>
                                        <div class="form-custom">
                                            <input type="text" class="form-control" value="">
                                            <i class="far fa-compass"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <div class="form-custom">
                                            <input type="text" class="form-control" value="">
                                            <i class="far fa-smile"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Department</label>
                                        <div class="form-custom">
                                            <input type="text" class="form-control" value="">
                                            <i class="fas fa-user-check"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <a [routerLink]="'/patients/search-doctor'" class="btn banner-btn mt-3">MAKE APPOINTMENT</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="assets/img/doctor-banner.PNG" class="img-fluid dr-img" alt="" >
            </div>
        </div>
    </div>
</section>
<!-- /Home Banner -->

<!-- Clinic Section -->
<section class="clinics-section">
    <div class="shapes">
        <img src="assets/img/shapes/shape-1.png" alt="" class="img-fluid shape-1">
        <img src="assets/img/shapes/shape-2.png" alt="" class="img-fluid shape-2">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h2>Clinic & Specialities</h2>
                    <p>Access to expert physicians and surgeons, advanced technologies and top-quality surgery facilities right here.</p>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="owl-nav slide-nav-1 text-right nav-control"></div>
            </div>
        </div>
        <owl-carousel-o [options]="clinicsOptions" class="clinics">
            <ng-container *ngFor="let slide of clinicsslides" >
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="clinic-item">
                            <div class="clinics-card">
                                <div class="clinics-img">
                                    <img src="{{slide.img}}" alt="" class="img-fluid">
                                </div>
                                <div class="clinics-info">
                                    <img src="{{slide.img2}}" alt="" class="img-fluid">
                                    <a href="#"><span>{{slide.department}}</span></a>
                                </div>
                            </div>
                            <div class="clinics-icon">
                                <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
<!-- /Clinic Section -->

<!-- Specialities Section -->
<section class="specialities-section">
    <div class="shapes">
        <img src="assets/img/shapes/shape-3.png" alt="" class="img-fluid shape-3">
        <img src="assets/img/shapes/shape-4.png" alt="" class="img-fluid shape-4">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading bg-area">
                    <h2>Browse by Specialities</h2>
                    <p>Find experienced doctors across all specialties</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/1.png" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#"><h4>Urology</h4></a>
                        <p>21 Doctors</p>
                    </div>
                    <div class="specialist-nav ml-auto">
                        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/3.png" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#"><h4>Neurology</h4></a>
                        <p>21 Doctors</p>
                    </div>
                    <div class="specialist-nav ml-auto">
                        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/2.png" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#"><h4>Orthopedic</h4></a>
                        <p>21 Doctors</p>
                    </div>
                    <div class="specialist-nav ml-auto">
                        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/4.png" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#"><h4>Cardiologist</h4></a>
                        <p>21 Doctors</p>
                    </div>
                    <div class="specialist-nav ml-auto">
                        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/1.png" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#"><h4>Urology</h4></a>
                        <p>21 Doctors</p>
                    </div>
                    <div class="specialist-nav ml-auto">
                        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/3.png" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#"><h4>Neurology</h4></a>
                        <p>21 Doctors</p>
                    </div>
                    <div class="specialist-nav ml-auto">
                        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/2.png" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#"><h4>Orthopedic</h4></a>
                        <p>21 Doctors</p>
                    </div>
                    <div class="specialist-nav ml-auto">
                        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/4.png" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#"><h4>Cardiologist</h4></a>
                        <p>21 Doctors</p>
                    </div>
                    <div class="specialist-nav ml-auto">
                        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Specialities Section -->

<!-- Best Doctor Section -->
<section class="our-doctors-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h2>Clinic & Specialities</h2>
                    <p>Access to expert physicians and surgeons, advanced technologies and top-quality surgery facilities right here.</p>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="owl-nav slide-nav-2 text-right nav-control"></div>
            </div>
        </div>
        <owl-carousel-o [options]="ourdoctorsOptions" class="our-doctors">
            <ng-container *ngFor="let slide of ourdoctorsslides" >
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="our-doctors-card">
                            <div class="doctors-header">
                                <a href="#"><img src="{{slide.img}}" alt="" class="img-fluid"></a>
                                <div class="img-overlay">
                                    <span>{{slide.range}}</span>
                                </div>
                            </div>
                            <div class="doctors-body">
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <span class="d-inline-block average-ratings">{{slide.rating}}</span>
                                </div>
                                <a [routerLink]="'/patients/doctor-profile'"><h4>{{slide.name}}</h4></a>
                                <p>{{slide.speciality}}</p>
                                <div class="location d-flex">
                                    <p><i class="fas fa-map-marker-alt"></i> {{slide.address}}</p>
                                    <p class="ml-auto"><i class="fas fa-user-md"></i> {{slide.count}} Consultations</p>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink]="'/patients/doctor-profile'" class="btn view-btn" tabindex="0">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink]="'/patients/booking'" class="btn book-btn" tabindex="0">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
<!-- /Best Doctor Section -->

<!-- Clinic Features Section -->
<section class="clinic-features-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h2>Availabe Features in Our Clinic</h2>
                    <p>Meet our Experts & Book Online</p>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="owl-nav slide-nav-3 text-right nav-control"></div>
            </div>
        </div>
        <owl-carousel-o [options]="clinicfeatureOptions" class="clinic-feature">
            <ng-container *ngFor="let slide of clinicfeatureslides" >
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="clinic-features">
                            <img src="{{slide.img}}" alt="" class="img-fluid">
                        </div>
                        <div class="clinic-feature-overlay">
                            <a href="#" class="img-overlay">{{slide.department}}</a>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
<!-- /Clinic Features Section -->

<!-- Blog Section -->
<section class="our-blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h2>Blogs and News</h2>
                    <p>Read Professional Articles and Latest Articles</p>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="owl-nav slide-nav-4 text-right nav-control"></div>
            </div>
        </div>
        <owl-carousel-o [options]="blogsOptions" class="blogs">
            <ng-container *ngFor="let slide of blogsslides" >
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="our-blogs">
                            <div class="blogs-img">
                                <a [routerLink]="'/blog-details'"><img src="{{slide.img}}" alt="" class="img-fluid"></a>
                                <div class="blogs-overlay d-flex">
                                    <img src="{{slide.img2}}" alt="" class="img-fluid">
                                        <span class="blogs-writter">{{slide.name}}</span>
                                </div>
                            </div>
                            <div class="blogs-info">
                                <span>{{slide.department}}</span>
                                <a [routerLink]="'/blog-details'"><h4>{{slide.header}}</h4></a>
                                <p>{{slide.content}}</p>
                                <span class="blogs-time"><i class="far fa-clock"></i> {{slide.date}}</span>
                            </div>
                            <div class="blogs-nav">
                                <a [routerLink]="'/blog-details'" class="blogs-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        <div class="owl-carousel blogs owl-theme">
            <div class="item">
                <div class="our-blogs">
                    <div class="blogs-img">
                        <a [routerLink]="'/blog-details'"><img src="assets/img/blog-1.jpg" alt="" class="img-fluid"></a>
                        <div class="blogs-overlay d-flex">
                            <img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="img-fluid">
                                <span class="blogs-writter">Dr. Ruby Perrin</span>
                        </div>
                    </div>
                    <div class="blogs-info">
                        <span>Urology</span>
                        <a [routerLink]="'/blog-details'"><h4>Doccure – Making your clinic painless visit?</h4></a>
                        <p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                        <span class="blogs-time"><i class="far fa-clock"></i> 3 Dec 2021</span>
                    </div>
                    <div class="blogs-nav">
                        <a [routerLink]="'/blog-details'" class="blogs-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-blogs">
                    <div class="blogs-img">
                        <a [routerLink]="'/blog-details'"><img src="assets/img/blog-2.jpg" alt="" class="img-fluid"></a>
                        <div class="blogs-overlay d-flex">
                            <img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="img-fluid">
                                <span class="blogs-writter">Dr. Ruby Perrin</span>
                        </div>
                    </div>
                    <div class="blogs-info">
                        <span>Neurology</span>
                        <a [routerLink]="'/blog-details'"><h4>What are the benefits of Online Doctor Booking?</h4></a>
                        <p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                        <span class="blogs-time"><i class="far fa-clock"></i> 3 Dec 2021</span>
                    </div>
                    <div class="blogs-nav">
                        <a [routerLink]="'/blog-details'" class="blogs-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-blogs">
                    <div class="blogs-img">
                        <a [routerLink]="'/blog-details'"><img src="assets/img/blog-3.jpg" alt="" class="img-fluid"></a>
                        <div class="blogs-overlay d-flex">
                            <img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="img-fluid">
                                <span class="blogs-writter">Dr. Ruby Perrin</span>
                        </div>
                    </div>
                    <div class="blogs-info">
                        <span>Orthopedic</span>
                        <a [routerLink]="'/blog-details'"><h4>Benefits of consulting with an Online Doctor</h4></a>
                        <p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                        <span class="blogs-time"><i class="far fa-clock"></i> 3 Dec 2021</span>
                    </div>
                    <div class="blogs-nav">
                        <a [routerLink]="'/blog-details'" class="blogs-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-blogs">
                    <div class="blogs-img">
                        <a [routerLink]="'/blog-details'"><img src="assets/img/blog-4.jpg" alt="" class="img-fluid"></a>
                        <div class="blogs-overlay d-flex">
                            <img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="img-fluid">
                                <span class="blogs-writter">Dr. Ruby Perrin</span>
                        </div>
                    </div>
                    <div class="blogs-info">
                        <span>Cardiologist</span>
                        <a [routerLink]="'/blog-details'"><h4>5 Great reasons to use an Online Doctor</h4></a>
                        <p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                        <span class="blogs-time"><i class="far fa-clock"></i> 3 Dec 2021</span>
                    </div>
                    <div class="blogs-nav">
                        <a [routerLink]="'/blog-details'" class="blogs-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Blog Section -->
