	<!-- Footer -->
	<footer class="footer">
				
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
					
						<!-- Footer Widget -->
						<div class="footer-widget footer-about">
							<div class="footer-logo">
								<img src="assets/img/logo-white.png" alt="logo">
							</div>
							<div class="footer-about-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<div class="social-icon">
									<ul>
										<li>
											<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-google-plus-g"></i> </a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /Footer Widget -->
						
					</div>
					
					<div class="col-lg-3 col-md-6">
					
						<!-- Footer Widget -->
						<div class="footer-widget footer-menu">
							<h2 class="footer-title">For Patients</h2>
							<ul>
								<li><a href="search.html">Search for Doctors</a></li>
								<li><a href="login.html">Login</a></li>
								<li><a href="register.html">Register</a></li>
								<li><a href="booking.html">Booking</a></li>
								<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
							</ul>
						</div>
						<!-- /Footer Widget -->
						
					</div>
					
					<div class="col-lg-3 col-md-6">
					
						<!-- Footer Widget -->
						<div class="footer-widget footer-menu">
							<h2 class="footer-title">For Doctors</h2>
							<ul>
								<li><a href="appointments.html">Appointments</a></li>
								<li><a href="chat.html">Chat</a></li>
								<li><a href="login.html">Login</a></li>
								<li><a href="doctor-register.html">Register</a></li>
								<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
							</ul>
						</div>
						<!-- /Footer Widget -->
						
					</div>

					<div class="col-lg-3 col-md-6">
					
						<!-- Footer Widget -->
						<div class="footer-widget footer-menu">
							<h2 class="footer-title">Subscribe for Updates</h2>
							<p>Don’t miss doccure latest news and events</p>
							<form>
								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="Email">
									<div class="input-group-append">
									  <button class="btn btn-outline-secondary" type="button">Subcribe</button>
									</div>
								</div>
							</form>
						</div>
						<!-- /Footer Widget -->
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- /Footer Top -->
		
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex col-md-12">
					<p>Copyright  © 2020 | All rights reserved by doccure</p>
				</div>
			</div>
		</div>
		<!-- /Footer Bottom -->
		
	</footer>
	<!-- /Footer -->