 <div class="page-wrapper">
	<div class="content container-fluid">	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">List of Doctors</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="''">Dashboard</a></li>
						<li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
						<li class="breadcrumb-item active">Doctor</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive" *ngIf="doctorsList">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Doctor Name</th>
										<th>Speciality</th>
										<th>Member Since</th>
										<th>Earned</th>
										<th>Account Status</th>
										
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let doctor of doctorsList">
										<td>
											<h2 class="table-avatar">
												<a  class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="doctor.profile" alt="User Image"></a>
												<a>{{doctor.doctor_name}}</a>
											</h2>
										</td>
										<td>{{doctor.speciality}}</td>
										
										<td>{{doctor.since | date : 'dd MMM yyyy hh mm a'}}</td>
										
										<td>R{{doctor.Earned}}</td>
										
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_1" class="check" checked>
												<label for="status_1" class="checktoggle">checkbox</label>
											</div>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>			
		</div>
		
	</div>			
</div>