<div class="col-md-12">   
    <div class="row">
        <div class="col-md-12">
            <div class="card dash-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar1">
                                    <div class="circle-graph1" data-percent="75">
                                        <img src="assets/img/icon-01.png" class="img-fluid" alt="patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Total Patient</h6>
                                    <h3>1500</h3>
                                    <p class="text-muted">Till Today</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar2">
                                    <div class="circle-graph2" data-percent="65">
                                        <img src="assets/img/icon-02.png" class="img-fluid" alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Today Patient</h6>
                                    <h3>160</h3>
                                    <p class="text-muted">06, Nov 2019</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget">
                                <div class="circle-bar circle-bar3">
                                    <div class="circle-graph3" data-percent="50">
                                        <img src="assets/img/icon-03.png" class="img-fluid" alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Appoinments</h6>
                                    <h3>85</h3>
                                    <p class="text-muted">06, Apr 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-4">Patient Appointments</h4>
            <div class="appointment-tab">
            
                <!-- Appointment Tab -->
                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                    <li class="nav-item">
                        <a class="nav-link active" href="#upcoming" [ngClass]="{ 'active':activeTab==='upcomming'}" (click)="search('upcomming')" data-toggle="tab">Upcoming</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#today" [ngClass]="{ 'active':activeTab==='today'}" (click)="result('today')" data-toggle="tab">Today</a>
                    </li> 
                </ul>
                <!-- /Appointment Tab -->
                
                <div class="tab-content">
                
                    <!-- Upcoming Appointment Tab -->
                    <div class="tab-pane" id="upcoming" [ngClass]="{ 'active':activeTab==='upcomming'}">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Patient Name</th>
                                                <th>Appt Date</th>
                                                <th>Purpose</th>
                                                <th>Type</th>
                                                <th class="text-center">Paid Amount</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let appointment of appointments">
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="appointment?.patients?.img" alt="User Image"></a>
                                                        <a >{{appointment?.patients?.name}}<span>{{appointment.patients?.key}}</span></a>
                                                    </h2>
                                                </td>
                                                <td>{{appointment.appointment_time | date : 'dd MMM yyyy'}}<span class="d-block text-info">{{appointment.appointment_time | date : 'h:mm a'}}</span></td>
                                                <td>General</td>
                                                <td>{{appointment.type}}</td>
                                                <td class="text-center">{{appointment.amount}}</td>
                                                <td class="text-right">
                                                    <div class="table-action">
                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                            <i class="far fa-eye"></i> View
                                                        </a> 
														<a (click)="openModal(template,appointment)" class="btn btn-sm bg-success-light">
                                                            <i class="fas fa-check"></i> Accept
                                                        </a> 
                                                        <a href="javascript:void(0);" (click)="openModal(Declinetemplate,appointment)" class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i> Cancel
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>		
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Upcoming Appointment Tab -->
               
                    <!-- Today Appointment Tab -->
                    <div class="tab-pane" id="today" [ngClass]="{ 'active':activeTab==='today'}">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Patient Name</th>
                                                <th>Appt Date</th>
                                                <th>Purpose</th>
                                                <th>Type</th>
                                                <th class="text-center">Paid Amount</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let appointment of appointments">
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="appointment?.patients?.img" alt="User Image"></a>
                                                        <a >{{appointment?.patients?.name}}<span>{{appointment?.patients?.key}}</span></a>
                                                    </h2>
                                                </td>
                                                <td>{{appointment.appointment_time | date : 'dd MMM yyyy'}}<span class="d-block text-info">{{appointment.appointment_time | date : 'h:mm a'}}</span></td>
                                                <td>General</td>
                                                <td>{{appointment.type}}</td>
                                                <td class="text-center">{{appointment.amount}}</td>
                                                <td class="text-right">
                                                    <div class="table-action">
                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                            <i class="far fa-eye"></i> View
                                                        </a>
                                                        
                                                        <a (click)="openModal(template,appointment)" class="btn btn-sm bg-success-light">
                                                            <i class="fas fa-check"></i> Accept
                                                        </a>
                                                        <a href="javascript:void(0);" (click)="openModal(Declinetemplate,appointment)" class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i> Cancel
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>		
                                </div>	
                            </div>	
                        </div>	
                    </div>
                    <!-- /Today Appointment Tab -->
                    
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Accept</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Are you sure want to accept this patient?
      <div style="margin-top:25px">
        <button type="button" id="btn-yes" (mouseover)="btnColor()" class="btn btn-default" (click)="confirm('accept')" >Yes</button>
        <button type="button" id="btn-no" (mouseover)="btnColorNo()" class="btn btn-primary" (click)="cancel()" >No</button>
      </div>
    </div>
  </ng-template>

  <ng-template #Declinetemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Decline</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Are you sure want to cancel this patient?
      <div style="margin-top:25px">
        <button type="button" class="btn btn-default" (click)="confirm('cancel')" >Yes</button>
        <button type="button" class="btn btn-primary" (click)="cancel()" >No</button>
     </div>
    </div>
  </ng-template><a href=""></a>