	<!-- Breadcrumb -->
		<!-- 	<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Booking</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Booking</h2>
						</div>
					</div>
				</div>
			</div> -->
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">
				
					<div class="row">
						<div class="col-12">
						
							<div class="card">
								<div class="card-body">
									<div class="booking-doc-info" *ngIf="doctorDetails">
										<a [routerLink]="'patients/doctor-profile'" class="booking-doc-img">
											<img src={{doctorDetails.profile}} alt="User Image">
										</a>
										<div class="booking-info">
											<h4><a [routerLink]="'patients/doctor-profile'">{{doctorDetails.doctor_name}}</a></h4>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">35</span>
											</div>
											<p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> {{doctorDetails.location}}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-sm-4 col-md-6">
									<h4 class="mb-1">11 November 2019</h4>
									<p class="text-muted">Monday</p>
								</div>
								<div class="col-12 col-sm-8 col-md-6 text-sm-right">
									<div class="bookingrange btn btn-white btn-sm mb-3">
										<i class="far fa-calendar-alt mr-2"></i>
										<input name="daterangeInput" id="daterange" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />
										<i class="fas fa-chevron-down ml-2"></i>
									</div>
								</div>
                            </div>
							<!-- Schedule Widget -->
							<div class="card booking-schedule schedule-widget">
							
								<!-- Schedule Header -->
								<div class="schedule-header">
									<div class="row">
										<div class="col-md-12">
										
											<!-- Day Slot -->
											<div class="day-slot">
												<ul>
													<li class="left-arrow">
														<a >
															<i class="fa fa-chevron-left"></i>
														</a>
													</li>
													<li>
														<span>Mon</span>
														<span class="slot-date">11 Nov <small class="slot-year">2019</small></span>
													</li>
													<li>
														<span>Tue</span>
														<span class="slot-date">12 Nov <small class="slot-year">2019</small></span>
													</li>
													<li>
														<span>Wed</span>
														<span class="slot-date">13 Nov <small class="slot-year">2019</small></span>
													</li>
													<li>
														<span>Thu</span>
														<span class="slot-date">14 Nov <small class="slot-year">2019</small></span>
													</li>
													<li>
														<span>Fri</span>
														<span class="slot-date">15 Nov <small class="slot-year">2019</small></span>
													</li>
													<li>
														<span>Sat</span>
														<span class="slot-date">16 Nov <small class="slot-year">2019</small></span>
													</li>
													<li>
														<span>Sun</span>
														<span class="slot-date">17 Nov <small class="slot-year">2019</small></span>
													</li>
													<li class="right-arrow">
														<a >
															<i class="fa fa-chevron-right"></i>
														</a>
													</li>
												</ul>
											</div>
											<!-- /Day Slot -->
											
										</div>
									</div>
								</div>
								<!-- /Schedule Header -->
								
								<!-- Schedule Content -->
								<div class="schedule-cont">
									<div class="row">
										<div class="col-md-12">
										
											<!-- Time Slot -->
											<div class="time-slot">
												<ul class="clearfix">
													<li>
														<a class="timing">
															<span>9:00</span> <span>AM</span>
														</a>
														<a class="timing">
															<span>10:00</span> <span>AM</span>
														</a>
														<a class="timing">
															<span>11:00</span> <span>AM</span>
														</a>
													</li>
													<li>
														<a class="timing">
															<span>12:00</span> <span>AM</span>
														</a>
														<a class="timing">
															<span>01:00</span> <span>PM</span>
														</a>
														<a class="timing">
															<span>02:00</span> <span>PM</span>
														</a>
													</li>
													<li>
														<a class="timing">
															<span>03:00</span> <span>PM</span>
														</a>
														<a class="timing">
															<span>04:00</span> <span>PM</span>
														</a>
														<a class="timing">
															<span>05:00</span> <span>PM</span>
														</a>
													</li>
													<li>
														<a class="timing">
															<span>06:00</span> <span>PM</span>
														</a>
														<a class="timing">
															<span>07:00</span> <span>PM</span>
														</a>
														<a class="timing">
															<span>08:00</span> <span>PM</span>
														</a>
													</li>
													<li>
														<a class="timing">
															<span>09:00</span> <span>PM</span>
														</a>
														<a class="timing selected">
															<span>10:00</span> <span>PM</span>
														</a>
														<a class="timing">
															<span>11:00</span> <span>PM</span>
														</a>
													</li>
													<li>
														<a class="timing">
															<span>9:00</span> <span>AM</span>
														</a>
														<a class="timing">
															<span>10:00</span> <span>AM</span>
														</a>
														<a class="timing">
															<span>11:00</span> <span>AM</span>
														</a>
													</li>
													<li>
														<a class="timing">
															<span>9:00</span> <span>AM</span>
														</a>
														<a class="timing">
															<span>10:00</span> <span>AM</span>
														</a>
														<a class="timing">
															<span>11:00</span> <span>AM</span>
														</a>
													</li>
												</ul>
											</div>
											<!-- /Time Slot -->
											
										</div>
									</div>
								</div>
								<!-- /Schedule Content -->
								
							</div>
							<!-- /Schedule Widget -->
							
							<!-- Submit Section -->
							<div class="submit-section proceed-btn text-right">
								<a [routerLink]="'/patients/checkout'" [queryParams]="{id: doctorDetails?.id}" class="btn btn-primary submit-btn">Proceed to Pay</a>
							</div>
							<!-- /Submit Section -->
							
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   