<div class="page-wrapper">
	<div class="content container-fluid">			
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Appointments</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="''">Dashboard</a></li>
						<li class="breadcrumb-item active">Appointments</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			
				<!-- Recent Orders -->
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table datatable [dtOptions] = "dtOptions" class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Doctor Name</th>
										<th>Speciality</th>
										<th>Patient Name</th>
										<th>Apointment Time</th>
										<th>Status</th>
										<th class="text-right">Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"></a>
												<a href="profile.html">Dr. Compton Arnold</a>
											</h2>
										</td>
										<td>Low Backpain Surgery</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient1.jpg" alt="User Image"></a>
												<a href="profile.html">Michelle Sharp </a>
											</h2>
										</td>
										<td>9 Nov 2020 <span class="text-primary d-block">11.00 AM - 11.15 AM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_10" class="check" checked>
												<label for="status_10" class="checktoggle">checkbox</label>
											</div>
										</td>
										<td class="text-right">
											$200.00
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image"></a>
												<a href="profile.html">Dr. Reginald Arnold</a>
											</h2>
										</td>
										<td>Low Backpain Surgery</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient2.jpg" alt="User Image"></a>
												<a href="profile.html">Michelle Wagner </a>
											</h2>
										</td>
										
										<td>5 Nov 2020 <span class="text-primary d-block">11.00 AM - 11.35 AM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_2" class="check" checked>
												<label for="status_2" class="checktoggle">checkbox</label>
											</div>
										</td>
										<td class="text-right">
											$300.00
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-03.jpg" alt="User Image"></a>
												<a href="profile.html">Dr. Alexis Combs</a>
											</h2>
										</td>
										<td>Cataract Surgery</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient3.jpg" alt="User Image"></a>
												<a href="profile.html">James Lopez</a>
											</h2>
										</td>
										<td>11 Nov 2020 <span class="text-primary d-block">12.00 PM - 12.15 PM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_8" class="check" checked>
												<label for="status_8" class="checktoggle">checkbox</label>
											</div>
										</td>
										<td class="text-right">
											$150.00
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-04.jpg" alt="User Image"></a>
												<a href="profile.html">Dr. Kevin Glover</a>
											</h2>
										</td>
										<td>Cataract Surgery</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient4.jpg" alt="User Image"></a>
												<a href="profile.html"> Connie Robinson</a>
											</h2>
										</td>
										<td>7 Nov 2020 <span class="text-primary d-block">1.00 PM - 1.20 PM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_4" class="check" checked>
												<label for="status_4" class="checktoggle">checkbox</label>
											</div>
										</td>
										<td class="text-right">
											$150.00
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-05.jpg" alt="User Image"></a>
												<a href="profile.html">Dr. Marvin Campbell</a>
											</h2>
										</td>
										<td>Free Skin Graft</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient5.jpg" alt="User Image"></a>
												<a href="profile.html">Carol Joseph</a>
											</h2>
										</td>
										
										<td>15 Nov 2020 <span class="text-primary d-block">1.00 PM - 1.15 PM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_1" class="check" checked>
												<label for="status_1" class="checktoggle">checkbox</label>
											</div>
										</td>
										<td class="text-right">
											$200.00
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-06.jpg" alt="User Image"></a>
												<a href="profile.html">Dr. Ryan Riche</a>
											</h2>
										</td>
										<td>Free Skin Graft</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient6.jpg" alt="User Image"></a>
												<a href="profile.html">Lamont Godinez</a>
											</h2>
										</td>
										
										<td>16 Nov 2020 <span class="text-primary d-block">1.00 PM - 1.15 PM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_9" class="check" checked>
												<label for="status_9" class="checktoggle">checkbox</label>
											</div>
										</td>
										<td class="text-right">
											$250.00
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-07.jpg" alt="User Image"></a>
												<a href="profile.html">Dr. Byron Boyd</a>
											</h2>
										</td>
										<td>Cholecystectomy</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient7.jpg" alt="User Image"></a>
												<a href="profile.html">Christopher Dantonio</a>
											</h2>
										</td>
										
										<td>18 Nov 2020 <span class="text-primary d-block">1.10 PM - 1.25 PM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_3" class="check" checked>
												<label for="status_3" class="checktoggle">checkbox</label>
											</div>
										</td>
										<td class="text-right">
											$260.00
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-08.jpg" alt="User Image"></a>
												<a href="profile.html">Dr. Paul Richard</a>
											</h2>
										</td>
										<td>Low Backpain Surgery</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient8.jpg" alt="User Image"></a>
												<a href="profile.html"> Erica Anderson</a>
											</h2>
										</td>
										
										<td>18 Nov 2020 <span class="text-primary d-block">11.10 AM - 11.25 AM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_5" class="check" checked>
												<label for="status_5" class="checktoggle">checkbox</label>
											</div>
										</td>
										<td class="text-right">
											$260.00
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-09.jpg" alt="User Image"></a>
												<a href="profile.html">Dr. Byron Boyd</a>
											</h2>
										</td>
										<td>Low Backpain Surgery</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient9.jpg" alt="User Image"></a>
												<a href="profile.html">Daryl Day</a>
											</h2>
										</td>
										
										<td>21 Nov 2020 <span class="text-primary d-block">12.10 PM - 12.25 PM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_6" class="check" checked>
												<label for="status_6" class="checktoggle">checkbox</label>
											</div>
										</td>
										<td class="text-right">
											$300.00
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-10.jpg" alt="User Image"></a>
												<a href="profile.html">Dr. William Cartwright</a>
											</h2>
										</td>
										<td>Low Backpain Surgery</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient10.jpg" alt="User Image"></a>
												<a href="profile.html">Lester Wise</a>
											</h2>
										</td>
										
										<td>23 Nov 2020 <span class="text-primary d-block">12.10 PM - 12.25 PM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_7" class="check" checked>
												<label for="status_7" class="checktoggle">checkbox</label>
											</div>
										</td>
										<td class="text-right">
											$300.00
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->
				
			</div>
		</div>
		</div>			
</div>