
<!-- Home Banner  -->
<div class="home-banner">
    <ngx-slick-carousel class="dot-slider slider" #slickModal="slick-carousel" [config]="dotsliderConfig">
         <!-- Banner Images -->
        <div ngxSlickItem *ngFor="let slide of dotsliderslides" class="profile-widget">
            <div class="pro-img">
                <a href="javascript:void(0);">
                    <img class="img-fluid" src="{{slide.img}}" alt="">
                </a>
            </div>
        </div>
        <!-- /Banner Images -->
    </ngx-slick-carousel>
    
    <div class="container">
        <div class="banner-wrapper doc-form">
            <div class="app-form">
                <h2>Search Doctor, <br> <span class="header-highlight">Make an Appointment</span></h2>
                <form action="#" class="doctor-search-form">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="form-custom">
                                    <input type="text" class="form-control" value="" placeholder="Search Location">
                                    <i class="far fa-compass"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="form-custom">
                                    <input type="text" class="form-control" value="" placeholder="Gender">
                                    <i class="far fa-smile"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="form-group">
                                <div class="form-custom">
                                    <input type="text" class="form-control" value="" placeholder="Department">
                                    <i class="fas fa-user-check"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-4">
                            <a [routerLink]="'/patients/search-doctor'" class="btn banner-btn">MAKE APPOINTMENT</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>			
<!-- /Home Banner -->

<!-- Category Section -->
<section class="category-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="set-category">
                    <div class="d-flex align-items-center">
                        <div class="img-holder">
                            <a href="javascript:void(0);"><img src="assets/img/icons/set-cat-01.png" alt="" /></a>
                        </div>
                        <div class="info-holder">
                            <h3>Visit a Doctor</h3>
                            <p>We hire the best specialists to deliver top-notch diagnostic services for you.</p>
                            <a [routerLink]="'/patients/booking'" class="book-now">Book Now <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                    <h1>01</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="set-category light">
                    <div class="d-flex align-items-center">
                        <div class="img-holder">
                            <a href="javascript:void(0);"><img src="assets/img/icons/set-cat-02.png" alt="" /></a>
                        </div>
                        <div class="info-holder">
                            <h3>Find a Pharmacy</h3>
                            <p>We provide the a wide range of medical services, so every person could have the opportunity.</p>
                            <a [routerLink]="'/patients/booking'" class="book-now">Book Now <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                    <h1>02</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="set-category lighter">
                    <div class="d-flex align-items-center">
                        <div class="img-holder">
                            <a href="javascript:void(0);"><img src="assets/img/icons/set-cat-03.png" alt="" /></a>
                        </div>
                        <div class="info-holder">
                            <h3>Find a Lab</h3>
                            <p>We use the first-class medical equipment for timely diagnostics of various diseases.</p>
                            <a [routerLink]="'/patients/booking'" class="book-now">Book Now <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                    <h1>03</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Category Section -->

<!-- Clinic and Specialities -->
<section class="clinic-section">
    <div class="container">
        <div class="sec-header">
            <h2>Clinic and Specialities</h2>
            <span class="bottom-border"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ngx-slick-carousel class="clinic-slider slider" #slickModal="slick-carousel" [config]="clinicsliderConfig">
                   <div ngxSlickItem *ngFor="let slide of clinicsliderslides" class="profile-widget">
                        <div class="brower-box">
                            <a href="javascript:void(0);">
                                <img class="img-fluid" alt="User Image" src="{{slide.img}}">
                                <img class="img-fluid hover" alt="" src="{{slide.imghover}}"/>
                            </a>
                            <h4>{{slide.department}}</h4>
                            <p>{{slide.doctors}} <span>Doctors</span></p>
                            <a [routerLink]="'/patients/doctor-profile'" class="arrow"><i class="fas fa-chevron-right"></i></a>
                        </div>
                   </div>
               </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!-- /Clinic and Specialities -->

<!-- /Browse by Specialities -->
<section class="browse-speciality">
    <div class="container">
        <div class="sec-header">
            <h2>Browse by Specialities</h2>
            <span class="bottom-border"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ngx-slick-carousel class="browse-slider slider" #slickModal="slick-carousel" [config]="browsesliderConfig">
                    <div ngxSlickItem *ngFor="let slide of browsesliderslides" class="profile-widget browse-widget">
                        <img src="{{slide.img}}" alt="" />
                        <div class="overlay">
                            <img src="{{slide.img2}}" alt="" />
                            <h3>{{slide.department}}</h3>
                            <a [routerLink]="'/patients/doctor-profile'" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!-- /Browse by Specialities -->

<!-- Select Sections-->
<section class="patient-select">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="select-box">
                    <div class="d-flex align-items-center">
                        <div class="image-holder">
                            <span>
                                <img src="assets/img/icons/doct-01.png" alt="" />
                            </span>
                        </div>
                        <div>
                            <h2>ARE YOU A DOCTOR?</h2>
                            <p>The service allows you to get maximum visibility online and to manage 
                                appointments and contacts coming from the site, in a simple and fast way.</p>
                            <a [routerLink]="'/patients/booking'" class="book-now">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">							
                <div class="select-box theme">
                    <div class="d-flex align-items-center">
                        <div class="image-holder">
                            <span>
                                <img src="assets/img/icons/doct-02.png" alt="" />
                            </span>
                        </div>
                        <div>
                            <h2>ARE YOU A DOCTOR?</h2>
                            <p>Choosing a specialist has never been so fast! You can filter search 
                                results by location and medical specialization, and book medical examination online.</p>
                            <a [routerLink]="'/patients/booking'" class="book-now">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Select Sections-->

<!-- Book Doctors-->
<section class="book-doctor">
    <div class="container">					
        <div class="sec-header">
            <h2>Book Our Best Doctor</h2>
            <span class="bottom-border"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ngx-slick-carousel class="book-slider slider" #slickModal="slick-carousel" [config]="booksliderConfig">
                    <div ngxSlickItem *ngFor="let slide of booksliderslides">
                        <div class="profile-widget">
                            <a [routerLink]="'/patients/doctor-profile'">
                                <img src="{{slide.img}}" alt="" />
                            </a>
                            <div class="pro-content">
                                <div  class="row row-sm">	
                                    <div class="col-md-6">							
                                        <span class="amt">{{slide.pricerange}}</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <a href="#" class="star"><i class="fas fa-star"></i></a>	
                                    </div>
                                </div>
                                <div class="provider-info">
                                    <h3><a [routerLink]="'/patients/doctor-profile'">{{slide.name}}</a></h3>
                                    <div>
                                        <h5>{{slide.department}}</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">{{slide.rating}}</span>
                                        </div>
                                    </div>
                                    <a href="#" class="side-arrow">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                    <div class="content-info">
                                        <ul class="available-info">
                                            <li>
                                                <i class="fas fa-map-marker-alt"></i> {{slide.address}}
                                            </li>
                                            <li>
                                                <i class="far fa-clock"></i> {{slide.count}} Consultations
                                            </li>
                                        </ul>
                                        <div class="row row-sm">
                                            <div class="col-6">
                                                <a href="javascript:void(0);" class="btn view-btn" tabindex="0">View Profile</a>
                                            </div>
                                            <div class="col-6">
                                                <a [routerLink]="'/patients/booking'" class="btn book-btn" tabindex="0">Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <a [routerLink]="'/patients/doctor-profile'" class="view-btn">View More</a>
        </div>
    </div>
</section>
<!-- /Book Doctors-->

<!-- Available Features-->
<section class="aval-features">
    <div class="custom-contain">
        <div class="row">
            <div class="col-lg-5 col-md-6 feature">
                <div class="info-box">
                    <h2>Availabe Features in Our Clinic</h2>
                    <p>Meet our Experts & Book Online</p>
                    <a [routerLink]="'/patients/doctor-profile'" class="view-btn">View More</a>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 pl-0">
                <ngx-slick-carousel class="aval-slider slider" #slickModal="slick-carousel" [config]="avalsliderConfig">
                    <div ngxSlickItem *ngFor="let slide of avalsliderslides">
                        <div class="aval-widget">
                            <div class="features-img">
                                <img src="{{slide.img}}" alt="" />
                                <p>{{slide.department}}</p>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!-- /Available Features-->

<!-- Blog Section-->
<section class="blogs-section">
    <div class="container">			
        <div class="sec-header">
            <h2>Our Latest Blogs</h2>
            <span class="bottom-border"></span>
        </div>		
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="blog-wrapper">
                    <div class="wrap-image">
                        <a [routerLink]="'/blog-details'">
                            <img src="assets/img/blog/blog-wrap-01.jpg" alt="" />
                        </a>
                    </div>
                    <div class="wrap-content">
                        <div class="d-flex">
                            <span class="sp-title">Urology</span>
                            <div class="post-author">
                                <a [routerLink]="'/patients/doctor-profile'">
                                    <img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
                                    <span>Ruby Perrin</span>
                                </a>
                            </div>
                            <p class="date-cart">25 <span>Jan 2021</span></p>
                        </div>
                        <div class="wrap-content-body">
                            <h3><a [routerLink]="'/blog-details'">Doccure – Making your clinic painless visit?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                            <a [routerLink]="'/blog-details'" class="read-txt">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="blog-wrapper">
                    <div class="wrap-image">
                        <a [routerLink]="'/blog-details'">
                            <img src="assets/img/blog/blog-wrap-02.jpg" alt="" />
                        </a>
                    </div>
                    <div class="wrap-content">
                        <div class="d-flex">
                            <span class="sp-title">Urology</span>
                            <div class="post-author">
                                <a [routerLink]="'/patients/doctor-profile'">
                                    <img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
                                    <span>Ruby Perrin</span>
                                </a>
                            </div>
                            <p class="date-cart">25 <span>Jan 2021</span></p>
                        </div>
                        <div class="wrap-content-body">
                            <h3><a [routerLink]="'/blog-details'">Doccure – Making your clinic painless visit?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                            <a [routerLink]="'/blog-details'" class="read-txt">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="blog-wrapper">
                    <div class="wrap-image">
                        <a [routerLink]="'/blog-details'">
                            <img src="assets/img/blog/blog-wrap-03.jpg" alt="" />
                        </a>
                    </div>
                    <div class="wrap-content">
                        <div class="d-flex">
                            <span class="sp-title">Urology</span>
                            <div class="post-author">
                                <a [routerLink]="'/patients/doctor-profile'">
                                    <img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
                                    <span>Ruby Perrin</span>
                                </a>
                            </div>
                            <p class="date-cart">25 <span>Jan 2021</span></p>
                        </div>
                        <div class="wrap-content-body">
                            <h3><a [routerLink]="'/blog-details'">Doccure – Making your clinic painless visit?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                            <a [routerLink]="'/blog-details'" class="read-txt">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="blog-wrapper">
                    <div class="wrap-image">
                        <a [routerLink]="'/blog-details'">
                            <img src="assets/img/blog/blog-wrap-04.jpg" alt="" />
                        </a>
                    </div>
                    <div class="wrap-content">
                        <div class="d-flex">
                            <span class="sp-title">Urology</span>
                            <div class="post-author">
                                <a [routerLink]="'/patients/doctor-profile'">
                                    <img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
                                    <span>Ruby Perrin</span>
                                </a>
                            </div>
                            <p class="date-cart">25 <span>Jan 2021</span></p>
                        </div>
                        <div class="wrap-content-body">
                            <h3><a [routerLink]="'/blog-details'">Doccure – Making your clinic painless visit?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                            <a [routerLink]="'/blog-details'" class="read-txt">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>						
        <div class="row justify-content-center">
            <a [routerLink]="'/blog-details'" class="view-btn">View More</a>
        </div>		
    </div>
</section>
<!-- /Blog Section-->
