<!-- Footer -->
            <footer class="footer footer-2 footer-four">
                
                <!-- Footer Top -->
                <div class="footer-top">
                    <div class="container-fluid">
                        <div class="row">
                            
                            <div class="col-lg-2 col-md-6">
                            
                                <!-- Footer Widget -->
                                <div class="footer-widget footer-menu">
                                    <h2 class="footer-title">Quick Links</h2>
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Our Mission</a></li>
                                        <li><a href="#">Our Approach</a></li>
                                        <li><a href="#">Our History</a></li>
                                        <li><a href="#">Awards And Achievements</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Appointment</a></li>
                                        <li><a href="#">Facilities</a></li>
                                        <li><a href="#">Pricing Plans</a></li>
                                    </ul>
                                </div>
                                <!-- /Footer Widget -->
                                
                            </div>
                            
                            <div class="col-lg-3 col-md-6">
                            
                                <!-- Footer Widget -->
                                <div class="footer-widget footer-about">
                                    <div class="footer-logo">
                                        <img src="assets/img/dr-Harry-logo.png" alt="logo">
                                    </div>
                                    <div class="footer-about-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                    <div class="footer-widget footer-contact mt-4">
                                        <h2 class="footer-title">Our Location</h2>
                                        <div class="footer-contact-info">
                                            <div class="footer-address">
                                                <span><i class="fas fa-map-marker-alt"></i></span>
                                                <p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
                                            </div>
                                            <p>
                                                <i class="fas fa-phone-alt"></i>
                                                011 875 1930
                                            </p>
                                            <p class="mb-0">
                                                <i class="fas fa-envelope"></i>
                                                Dr. HP@example.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Footer Widget -->
                                
                            </div>
                            
                            <div class="col-lg-3 col-md-6">
                            
                                <!-- Footer Widget -->
                                <div class="footer-widget footer-menu">
                                    <h2 class="footer-title">Services</h2>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul>
                                                <li><a href="#">Cardiology</a></li>
                                                <li><a href="#">Diabetes</a></li>
                                                <li><a href="#">Plastic Surgery</a></li>
                                                <li><a href="#">Gastroenterology</a></li>
                                                <li><a href="#">Gynecology</a></li>
                                                <li><a href="#">Hepatology</a></li>
                                                <li><a href="#">Neurology</a></li>
                                                <li><a href="#">Radiology</a></li>
                                                <li><a href="#">Rhinology</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">
                                            <ul>
                                                <li><a href="#">Obstetrics</a></li>
                                                <li><a href="#">Ophthalmology</a></li>
                                                <li><a href="#">Oral Health</a></li>
                                                <li><a href="#">Orthopedics</a></li>
                                                <li><a href="#">Osteology</a></li>
                                                <li><a href="#">Otology</a></li>
                                                <li><a href="#">Pediatrics</a></li>
                                                <li><a href="#">Psychiatry</a></li>
                                                <li><a href="#">Pulmonology</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Footer Widget -->
                                
                            </div>
                            
                            <div class="col-lg-2 col-md-6">
                            
                                <!-- Footer Widget -->
                                <div class="footer-widget footer-menu">
                                    <h2 class="footer-title">For Patients</h2>
                                     <ul>
                                        <li><a [routerLink]="'/patients/search-doctor'">Search for Doctors</a></li>
                                        <li><a [routerLink]="'/login'">Login</a></li>
                                        <li><a [routerLink]="'/Register'">Register</a></li>
                                        <li><a [routerLink]="'/patients/booking'">Booking</a></li>
                                        <li><a [routerLink]="'/patients/dashboard'">Patient Dashboard</a></li>
                                    </ul>
                                </div>
                                <!-- /Footer Widget -->
                                
                            </div>
                            
                            <div class="col-lg-2 col-md-6">
                            
                                <!-- Footer Widget -->
                                <div class="footer-widget footer-menu">
                                    <h2 class="footer-title">For Doctors</h2>
                                    <ul>
                                        <li><a [routerLink]="'/doctor/appointment'">Appointments</a></li>
                                        <li><a [routerLink]="'/doctor/message'">Chat</a></li>
                                        <li><a [routerLink]="'/login'">Login</a></li>
                                        <li><a [routerLink]="'/Register'">Register</a></li>
                                        <li><a [routerLink]="'/doctor/dashboard'">Doctor Dashboard</a></li>
                                    </ul>
                                </div>
                                <!-- /Footer Widget -->
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- /Footer Top -->
                
                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="container-fluid">
                    
                        <!-- Copyright -->
                        <div class="copyright">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="copyright-text">
                                        <p class="mb-0">&copy; 2020 <span>Dr. HP</span>. All rights reserved.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                
                                    <!-- Copyright Menu -->
                                    <div class="copyright-menu">
                                        <ul class="policy-menu">
                                            <li><a [routerLink]="'/terms-conditions'">Terms and Conditions</a></li>
                                            <li><a [routerLink]="'/privacy-policy'">Policy</a></li>
                                        </ul>
                                    </div>
                                    <!-- /Copyright Menu -->
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /Copyright -->
                        
                    </div>
                </div>
                <!-- /Footer Bottom -->
                
            </footer>
            <!-- /Footer -->