<!-- Home Banner -->
<section class="section section-search">
    <div class="container">
        <div class="banner-wrapper">
            <div class="banner-header">
                <h1>Search <span>Cosmetic Surgeon</span> &<br> Make an Appointment</h1>
            </div>
             
            <!-- Search -->
            <div class="search-box">
                <form action="search.html">
                    <div class="form-group search-location">
                        <input type="text" class="form-control" placeholder="Location">
                    </div>
                    <div class="form-group search-info">
                        <input type="text" class="form-control" placeholder="Search Doctors">
                    </div>
                    <button type="submit" class="btn btn-primary search-btn"><span>Search</span></button>
                </form>
            </div>
            <!-- /Search -->
            
        </div>
    </div>
</section>
<!-- /Home Banner -->	

<!-- Specialities -->
<section class="specialities">
    <div class="container">
        <div class="section-title text-center">
            <h2>We are specialists in</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-3" *ngFor="let speciality of specialities">
                <div class="specialities-col">
                    <div class="card">
                        <a href="javascript:void(0)" class="specialities-img">
                            <img src="{{speciality.speciality_img}}" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a href="javascript:void(0)"><h5>{{speciality.speciality_title}}</h5></a>
                                <p>{{speciality.speciality_desc}}</p>
                                <a href="javascript:void(0)" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Specialities -->	

<!-- Our Service -->
<section class="our-service">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-5">
                <div class="left">
                    <h2>our services range</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                    <a href="javascript:void(0)" class="btn">View All</a>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="right">
                    <div class="price-box">
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="left-col">
                                    <h5>Makeup & Cosmetics</h5>
                                    <p>Lorem ipsum dolor sit dolor amet, consectetur adipiscing elit eiusmod tempor incididunt ut. labore et dolore magna. </p>
                                </div>
                                <div class="right-col">
                                    <h2>$35.00</h2>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="left-col">
                                    <h5>perfumes</h5>
                                    <p>Lorem ipsum dolor sit dolor amet, consectetur adipiscing elit eiusmod tempor incididunt ut. labore et dolore magna. </p>
                                </div>
                                <div class="right-col">
                                    <h2>$42.00</h2>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="left-col">
                                    <h5>Skincare</h5>
                                    <p>Lorem ipsum dolor sit dolor amet, consectetur adipiscing elit eiusmod tempor incididunt ut. labore et dolore magna. </p>
                                </div>
                                <div class="right-col">
                                    <h2>$18.00</h2>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Our Service -->

<!-- Cosmetics Specialist -->
<section class="cosmetics-specialist">
    <div class="container">
        <div class="section-title text-center">
            <h2>choose your cosmetics specialist</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a [routerLink]="'/patients/doctor-profile'" class="specialities-img">
                            <img src="assets/img/doctors/doctor-01.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a [routerLink]="'/patients/doctor-profile'"><h5>Eric Buckles</h5></a>
                                <p>MBBS, MDS - Cosmetics Surgeon</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(35)</span>
                                </div>
                                <a [routerLink]="'/patients/doctor-profile'" class="booknow-btn">Book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a [routerLink]="'/patients/doctor-profile'" class="specialities-img">
                            <img src="assets/img/doctors/doctor-02.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a [routerLink]="'/patients/doctor-profile'"><h5>Lane Seay</h5></a>
                                <p>MBBS, MDS - Cosmetics Surgeon</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(35)</span>
                                </div>
                                <a [routerLink]="'/patients/doctor-profile'" class="booknow-btn">Book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a [routerLink]="'/patients/doctor-profile'" class="specialities-img">
                            <img src="assets/img/doctors/doctor-03.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a [routerLink]="'/patients/doctor-profile'"><h5>Matthew Dodd</h5></a>
                                <p>MBBS, MDS - Cosmetics Surgeon</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(35)</span>
                                </div>
                                <a [routerLink]="'/patients/doctor-profile'" class="booknow-btn">Book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a [routerLink]="'/patients/doctor-profile'" class="specialities-img">
                            <img src="assets/img/doctors/doctor-04.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a [routerLink]="'/patients/doctor-profile'"><h5>Carol Alba</h5></a>
                                <p>MBBS, MDS - Cosmetics Surgeon</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(35)</span>
                                </div>
                                <a [routerLink]="'/patients/doctor-profile'" class="booknow-btn">Book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Cosmetics Specialist -->

<!-- News Letter -->
<section class="news-letter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="news-letter-col">
                    <div class="section-title pb-2">
                        <h2>Grab Our Newsletter</h2>
                        <p>To receive latest offers and discounts from the shop.</p>
                    </div>
                    <form>
                        <div class="d-flex align-items-center">
                            <div>
                                <input type="email" name="email" placeholder="Enter Your Email Address">
                            </div>
                            <div>
                                <input type="submit" value="subscribe">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /News Letter -->

<!-- Address -->
<section class="address-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <address class="m-0 d-flex align-items-center">
                    <span class="d-flex align-items-center justify-content-center map-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <span>
                        3556 Beech Street, San Francisco,<br>California, CA 94108
                    </span>
                </address>
            </div>
            <div class="col-12 col-md-6">
                <div class="social-links">
                    <ul>
                        <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Address -->