<!-- Breadcrumb -->
		<!-- 	<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Checkout</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Checkout</h2>
						</div>
					</div>
				</div>
			</div> -->
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<div class="row">
						<div class="col-md-7 col-lg-8">
							<div class="card">
								<div class="card-body">
								
									<!-- Checkout Form -->
									<form>
									
										<!-- Personal Information -->
										<div class="info-widget">
											<h4 class="card-title">Personal Information</h4>
											<div class="row">
												<div class="col-md-6 col-sm-12">
													<div class="form-group card-label">
														<label>First Name<span class="required">*</span></label>
														<input class="form-control" type="text" name="firstname" [(ngModel)]="firstName">
													</div>
												</div>
												<div class="col-md-6 col-sm-12">
													<div class="form-group card-label">
														<label>Last Name<span class="required">*</span></label>
														<input class="form-control" type="text" name="lastname" [(ngModel)]="lastName">
													</div>
												</div>
												<div class="col-md-6 col-sm-12">
													<div class="form-group card-label">
														<label>Email<span class="required">*</span></label>
														<input class="form-control" type="email" name="email" [(ngModel)]="email">
													</div>
												</div>
												<div class="col-md-6 col-sm-12">
													<div class="form-group card-label">
														<label>Phone<span class="required">*</span></label>
														<input class="form-control" type="text" name="phone" [(ngModel)]="phone">
													</div>
												</div>
											</div>
											<div class="exist-customer">Existing Customer? <a [routerLink]="'/login'">Click here to search client base</a></div>
										</div>
										<!-- /Personal Information -->
										
										<div class="payment-widget">
											<!-- <h4 class="card-title">Payment Method</h4> -->
											
											<!-- Credit Card Payment -->
											<!-- <div class="payment-list">
												<label class="payment-radio credit-card-option">
													<span class="checkmark"></span>
													Credit card
												</label>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group card-label">
															<label for="card_name">Name on Card<span class="required">*</span></label>
															<input class="form-control" id="card_name" type="text">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group card-label">
															<label for="card_number">Card Number<span class="required">*</span></label>
															<input class="form-control" id="card_number" placeholder="1234  5678  9876  5432" type="text">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group card-label">
															<label for="expiry_month">Expiry Month<span class="required">*</span></label>
															<input class="form-control" id="expiry_month" placeholder="MM" type="text">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group card-label">
															<label for="expiry_year">Expiry Year<span class="required">*</span></label>
															<input class="form-control" id="expiry_year" placeholder="YY" type="text">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group card-label">
															<label for="cvv">CVV<span class="required">*</span></label>
															<input class="form-control" id="cvv" type="text">
														</div>
													</div>
												</div>
											</div> -->
											<!-- /Credit Card Payment -->
											
											<!-- Paypal Payment -->
											<!-- <div class="payment-list">
												<label class="payment-radio paypal-option">
													<input type="radio" name="radio">
													<span class="checkmark"></span>
													Paypal
												</label>
											</div> -->
											<!-- /Paypal Payment -->
											
											<!-- Terms Accept -->
											<!-- <div class="terms-accept">
												<div class="custom-checkbox">
												   <input type="checkbox" id="terms_accept">
												   <label for="terms_accept">&nbsp;I have read and accept <a href="javascript:void(0)">Terms &amp; Conditions</a></label>
												</div>
											</div> -->
											<!-- /Terms Accept -->
											
											<!-- Submit Section -->
											<div class="submit-section mt-4">
												<a   type="submit" (click)="booking()" class="btn btn-primary submit-btn">Confirm and Book</a>
											</div>
											<!-- /Submit Section -->
											
										</div>
									</form>
									<!-- /Checkout Form -->
									
								</div>
							</div>
							
						</div>
						
						<div class="col-md-5 col-lg-4">
							
							<!-- Booking Summary -->
							<div class="card booking-card">
								<div class="card-header">
									<h4 class="card-title">Booking Summary</h4>
								</div>
								<div class="card-body">
								
									<!-- Booking Doctor Info -->
									<div class="booking-doc-info">
										<a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: doctorDetails?.id}" class="booking-doc-img">
											<img *ngIf="doctorDetails?.profile" [src]="doctorDetails?.profile" alt="User Image">
										</a>
										<div class="booking-info">
											<h4><a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: doctorDetails?.id}">{{doctorDetails?.doctor_name}}</a></h4>
											<!-- <div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">35</span>
											</div> -->
											<div class="clinic-details">
												<p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{doctorDetails?.location}}</p>
											</div>
										</div>
									</div>
									<!-- Booking Doctor Info -->
									<br>
									<div class="booking-summary">
										<div class="booking-item-wrap">
											<ul class="booking-date">
												<li>Date <span>23 Aug 2021</span></li>
												<li>Time <span>{{doctorDetails?.availableTime}}</span></li>
											</ul>
											<ul class="booking-fee">
												<li>Consulting Fee <span>{{doctorDetails?.consulting_fees}}</span></li>
												<li>Booking Fee <span>{{doctorDetails?.booking_fees}}</span></li>
												<li>Video Call <span>{{doctorDetails?.video_call}}</span></li>
											</ul>
											<div class="booking-total">
												<ul class="booking-total-list">
													<li>
														<span>Total</span>
														<span class="total-cost">{{doctorDetails?.Price}}</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Booking Summary -->
							
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->