<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Blog</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Blog List</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">
             
					<div class="row">
					
						<div class="col-lg-8 col-md-12">
							<!-- Blog Post -->
							<div class="blog" *ngFor="let blog of blogs | slice:0:4">
								<div class="blog-image">
									<a  [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}"><img class="img-fluid" src="{{blog.img}}" alt="Post Image"></a>
								</div>
								<h3 class="blog-title"><a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">{{blog.title}}</a></h3>
								<div class="blog-info clearfix">
									<div class="post-left">
										<ul>
											<li>
												<div class="post-author">
													<a  [routerLink]="'/patients/doctor-profile'"><img src="{{blog.doctor_pic}}" alt="Post Author"> <span>{{blog.doctor_name}}</span></a>
												</div>
											</li>
											<li><i class="far fa-clock"></i>{{blog.createdAt | date: "d MMM yyyy"}}</li>
											<li><i class="far fa-comments"></i>{{blog.comments}} Comments</li>
											<li><i class="fa fa-tags"></i>{{blog.type}}</li>
										</ul>
									</div>
								</div>
								<div class="blog-content">
									<p>{{blog.description}}</p>
									<a  [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}" class="read-more">Read More</a>
								</div>
							</div>
							<!-- /Blog Post -->

							

							<!-- Blog Pagination -->
							<div class="row" >
								<div class="col-md-12">
									<div class="blog-pagination">
										<nav>
											<ul class="pagination justify-content-center">
												<li class="page-item disabled">
													<a class="page-link" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
												</li>
												<li class="page-item">
													<a class="page-link" >1</a>
												</li>
												<li class="page-item active">
													<a class="page-link" >2 <span class="sr-only">(current)</span></a>
												</li>
												<li class="page-item">
													<a class="page-link" >3</a>
												</li>
												<li class="page-item">
													<a class="page-link" ><i class="fas fa-angle-double-right"></i></a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
							<!-- /Blog Pagination -->
							
						</div>
						
						<!-- Blog Sidebar -->
						<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">

							<!-- Search -->
							<div class="card search-widget">
								<div class="card-body">
									<form class="search-form">
										<div class="input-group">
											<input type="text" placeholder="Search..." class="form-control">
											<div class="input-group-append">
												<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<!-- /Search -->

							<!-- Latest Posts -->
							<div class="card post-widget">
								<div class="card-header">
									<h4 class="card-title">Latest Posts</h4>
								</div>
								<div class="card-body">
									<ul class="latest-posts">
										<li *ngFor="let blog of blogs | slice:0:5">
											<div class="post-thumb">
												<a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">
													<img class="img-fluid" [src]="blog.img" alt="">
												</a>
											</div>
											<div class="post-info">
												<h4>
													<a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">{{blog.title}}</a>
												</h4>
												<p> {{blog.createdAt | date : 'dd MMM yyyy'}}</p>
											</div>
										</li>
										
									</ul>
								</div>
							</div>
							<!-- /Latest Posts -->

							<!-- Categories -->
							<div class="card category-widget">
								<div class="card-header">
									<h4 class="card-title">Blog Categories</h4>
								</div>
								<div class="card-body">
									<ul class="categories">
										<li><a href="javascript:void(0)">Cardiology <span>(62)</span></a></li>
										<li><a href="javascript:void(0)">Health Care <span>(27)</span></a></li>
										<li><a href="javascript:void(0)">Nutritions <span>(41)</span></a></li>
										<li><a href="javascript:void(0)">Health Tips <span>(16)</span></a></li>
										<li><a href="javascript:void(0)">Medical Research <span>(55)</span></a></li>
										<li><a href="javascript:void(0)">Health Treatment <span>(07)</span></a></li>
									</ul>
								</div>
							</div>
							<!-- /Categories -->

							<!-- Tags -->
							<div class="card tags-widget">
								<div class="card-header">
									<h4 class="card-title">Tags</h4>
								</div>
								<div class="card-body">
									<ul class="tags">
										<li><a href="javascript:void(0)" class="tag">Children</a></li>
										<li><a href="javascript:void(0)" class="tag">Disease</a></li>
										<li><a href="javascript:void(0)" class="tag">Appointment</a></li>
										<li><a href="javascript:void(0)" class="tag">Booking</a></li>
										<li><a href="javascript:void(0)" class="tag">Kids</a></li>
										<li><a href="javascript:void(0)" class="tag">Health</a></li>
										<li><a href="javascript:void(0)" class="tag">Family</a></li>
										<li><a href="javascript:void(0)" class="tag">Tips</a></li>
										<li><a href="javascript:void(0)" class="tag">Shedule</a></li>
										<li><a href="javascript:void(0)" class="tag">Treatment</a></li>
										<li><a href="javascript:void(0)" class="tag">Dr</a></li>
										<li><a href="javascript:void(0)" class="tag">Clinic</a></li>
										<li><a href="javascript:void(0)" class="tag">Online</a></li>
										<li><a href="javascript:void(0)" class="tag">Health Care</a></li>
										<li><a href="javascript:void(0)" class="tag">Consulting</a></li>
										<li><a href="javascript:void(0)" class="tag">Doctors</a></li>
										<li><a href="javascript:void(0)" class="tag">Neurology</a></li>
										<li><a href="javascript:void(0)" class="tag">Dentists</a></li>
										<li><a href="javascript:void(0)" class="tag">Specialist</a></li>
										<li><a href="javascript:void(0)" class="tag">Doccure</a></li>
									</ul>
								</div>
							</div>
							<!-- /Tags -->
							
						</div>
						<!-- /Blog Sidebar -->
						
					</div>
				</div>

			</div>		
			<!-- /Page Content -->