	<!-- Home Banner -->
			<section class="section-search">
				<div class="container">
					<div class="banner-wrapper">
						<div class="banner-header">
							<p>We specialize in Pediatric Care</p>
							<h1>A SAFE CARE FOR YOUR CHILDREN’s HEALTH</h1>
							<p class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Quis ipsumpsum.</p>
							<a [routerLink]="'patients/search-doctor'" class="btn-pink">Make Appointment <i class="fas fa-arrow-right"></i></a>
						</div>						
					</div>
				</div>
			</section>
			<!-- /Home Banner -->
			  
			<!-- Book Appointment -->
			<section class="section app-form">
				<div class="container">
					<div class="section-header">
						<h6>Make an appointment</h6>
						<h2>Get the right Pediatician book your doctor</h2>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Your Name">
							</div>
							<div class="form-group">
								<select class="form-control">
									<option>Select Service</option>
									<option>Allergy Testing</option>
								</select>
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Time & Date">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Phone Number">
							</div>
						</div>
					</div>
					<div class="row justify-content-center mt-4">
						<a [routerLink]="'patients/search-doctor'" class="btn-pink">Make Appointment <i class="fas fa-arrow-right"></i></a>
					</div>					
				</div>   
			</section>	 
			<!-- Book Appointment -->
		  
			<!-- Childcare Section -->
			<section class="section section-treatment">
				<div class="container">
				   <div class="row align-items-center">
						<div class="col-lg-6">
							<div class="placeholder">
								<div class="inner-placeholder">
									<div class="inner-text">
										<h2>15+ YEARS</h2>
										<h5>Experience</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="section-header">
								<h6>We Care for you & your Children</h6>
								<h2>Most Effective Treatment</h2>
							</div>
							<div class="about-content">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip lobortis nisl ut aliquip lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum .</p>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam  .</p>	
								<div class="row child-care">
									<div class="col-md-6">
										<ul class="left">
											<li><i class="fas fa-chevron-right"></i>Eating Disorders</li>
											<li><i class="fas fa-chevron-right"></i>Family Therapy for Child</li>
											<li><i class="fas fa-chevron-right"></i>Feeding Disorders</li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul class="left">
											<li><i class="fas fa-chevron-right"></i>Hyperactivity Disorder</li>
											<li><i class="fas fa-chevron-right"></i>Attention Deficit</li>
											<li><i class="fas fa-chevron-right"></i>Diagnosis and Evaluation</li>
										</ul>
									</div>
								</div>	
							</div>
						</div>
				   </div>
				</div>
			</section>
			<!-- /Childcare Section -->
		   
		   	<!-- Service Section -->
		   	<section class="section service-section">
				<div class="container">
					<div class="section-header">
						<h6>Wide Range of Services</h6>
						<h2>Most Effective Treatment</h2>
					</div>
					<div class="row service-grid">
						<div class="col-md-6 col-lg-4 col-sm-12">
						
							<!-- Services -->
							<div class="service-blog">
								<div class="service-image">
									<img class="img-fluid" src="assets/img/features/ser-img1.jpg" alt="Post Image">
									<div class="service-content text-center">
										<h3 class="service-title mb-0">Prenatal/Newborn</h3>
									</div>
								</div>								
							</div>
							<!-- /Services -->
							
						</div>
						<div class="col-md-6 col-lg-4 col-sm-12">
						
							<!-- Services -->
							<div class="service-blog">
								<div class="service-image">
									<img class="img-fluid" src="assets/img/features/ser-img2.jpg" alt="Post Image">
								</div>
								<div class="service-content text-center">
									<h3 class="service-title mb-0">Vaccinations/Immunizations</h3>
								</div>
							</div>
							<!-- /Services -->
							
						</div>
						<div class="col-md-6 col-lg-4 col-sm-12">
						
							<!-- Services -->
							<div class="service-blog">
								<div class="service-image">
									<img class="img-fluid" src="assets/img/features/ser-img3.jpg" alt="Post Image">
								</div>
								<div class="service-content text-center">
									<h3 class="service-title mb-0">Nutrition Services</h3>
								</div>
							</div>
							<!-- /Services -->
							
						</div>						
						<div class="col-md-6 col-lg-4 col-sm-12">
						
							<!-- Services -->
							<div class="service-blog">
								<div class="service-image">
									<img class="img-fluid" src="assets/img/features/ser-img4.jpg" alt="Post Image">
								</div>
								<div class="service-content text-center">
									<h3 class="service-title mb-0">Development Delay</h3>
								</div>
							</div>
							<!-- /Services -->
							
						</div>
						<div class="col-md-6 col-lg-4 col-sm-12">
						
							<!-- Services -->
							<div class="service-blog">
								<div class="service-image">
									<img class="img-fluid" src="assets/img/features/ser-img5.jpg" alt="Post Image">
								</div>
								<div class="service-content text-center">
									<h3 class="service-title mb-0">Allergy Testing</h3>
								</div>
							</div>
							<!-- /Services -->
							
						</div>
						<div class="col-md-6 col-lg-4 col-sm-12">
						
							<!-- Services -->
							<div class="service-blog">
								<div class="service-image">
									<img class="img-fluid" src="assets/img/features/ser-img6.jpg" alt="Post Image">
								</div>
								<div class="service-content text-center">
									<h3 class="service-title mb-0">Weight Loss</h3>
								</div>
							</div>
							<!-- /Services -->
							
						</div>
					</div>
				</div>
			</section>
			<!-- /Service Section -->
			
			<!-- Why Choose -->
		   	<section class="why-section">
		   		<div class="left-section">
		   			<div class="why-content">
			   			<div class="section-header">
							<h2>Why Choose Us</h2>
						</div>
						<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p>
						<p>The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Lorem ipsum, or lipsum as it is sometimes known. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De </p>
						<div class="child-care">
							<ul class="left">
								<li><i class="fas fa-chevron-right"></i> Free Ambulance Transport</li>
								<li><i class="fas fa-chevron-right"></i> Highly Qualified Doctors</li>
								<li><i class="fas fa-chevron-right"></i> 24×7 Emergency Services</li>
								<li><i class="fas fa-chevron-right"></i> Leading Technology</li>
								<li><i class="fas fa-chevron-right"></i> Patient Centered Care</li>
							</ul>
						</div>	
					</div>							
		   		</div>
		   		<div class="right-section">
		   		</div>
		   	</section>
			<!-- /Why Choose -->

			<!-- Count Section -->
			<section class="section-count">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-lg-3">
							<h2>980+</h2>
							<p>Satisfied Patients</p>
						</div>
						<div class="col-md-3 col-lg-3">
							<h2>100+</h2>
							<p>Professional Doctor</p>
						</div>
						<div class="col-md-3 col-lg-3">
							<h2>100%</h2>
							<p>Quality</p>
						</div>
						<div class="col-md-3 col-lg-3">
							<h2>15+</h2>
							<p>Year Experience</p>
						</div>
					</div>
				</div>
			</section>
			<!-- /Count Section -->

			<!-- Doctor Section -->
			<section class="section doctor-section">
				<div class="container">
					<div class="section-header">
						<h6>Meet our Professionals</h6>
						<h2>Our Doctors <a [routerLink]="'patients/search-doctor'" class="member-btn">View all members</a> </h2>	
					</div>
					<div class="row justify-content-center">
						<div class="col-md-6 col-lg-3">
							<div class="profile-card">
								<div class="profile-image">
									<a [routerLink]="'/doctor/dashboard'">
										<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="">
									</a>
								</div>
								<div class="profile-content">
									<h3><a [routerLink]="'/doctor/dashboard'">Dr. Jerman Delong</a></h3>
									<p>Cheif Pediatrician</p>
									<div class="social-icon">
										<ul>
											<li>
												<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="profile-card">
								<div class="profile-image">
									<a [routerLink]="'/doctor/dashboard'">
										<img src="assets/img/doctors/doctor-thumb-05.jpg" alt="">
									</a>
								</div>
								<div class="profile-content">
									<h3><a [routerLink]="'/doctor/dashboard'">Dr. Neel Akins</a></h3>
									<p>Cheif Pediatrician</p>
									<div class="social-icon">
										<ul>
											<li>
												<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="profile-card">
								<div class="profile-image">
									<a [routerLink]="'/doctor/dashboard'">
										<img src="assets/img/doctors/doctor-thumb-08.jpg" alt="">
									</a>
								</div>
								<div class="profile-content">
									<h3><a [routerLink]="'/doctor/dashboard'">Dr. McKenna Slone</a></h3>
									<p>Cheif Pediatrician</p>
									<div class="social-icon">
										<ul>
											<li>
												<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="profile-card active">
								<div class="profile-image">
									<a [routerLink]="'/doctor/dashboard'">
										<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="">
									</a>
								</div>
								<div class="profile-content">
									<h3><a [routerLink]="'/doctor/dashboard'">Dr. Lydah Sutton</a></h3>
									<p>Cheif Pediatrician</p>
									<div class="social-icon">
										<ul>
											<li>
												<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Doctor Section -->	

			<!-- Testimonial Section -->
			<section class="doctors-col section app-form">
				<div class="container-fluid">					
					<div class="row justify-content-center">	
						<div class="section-header text-center">
							<h6>Feedback from our patients</h6>							
							<h2>TESTIMONIALS</h2>
						</div>
					</div>
				   <div class="row">
						<div class="col-lg-12">
							<div class="doctor-slider slider">
								
								<!-- Doctor Widget -->
								<div class="profile-widget">
									<div class="test-content">
										<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed.</p>
									</div>
									<div class="test-image d-flex align-items-center">
										<div class="test-profile">
											<a [routerLink]="'patients/doctor-profile'">
												<img class="img-fluid" alt="User Image" src="assets/img/patients/patient.jpg">
											</a>
										</div>
										<div class="test-users">
											<h3>Morfyn Henning</h3>
											<p class="mb-0">Profession</p>
										</div>
									</div>								
									<div class="pro-footer text-right">
										<i class="fas fa-quote-left"></i>
									</div>
								</div>
								<!-- /Doctor Widget -->
							
								<!-- Doctor Widget -->
								<div class="profile-widget">
									<div class="test-content">
										<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed.</p>
									</div>
									<div class="test-image d-flex align-items-center">
										<div class="test-profile">
											<a [routerLink]="'patients/doctor-profile'">
												<img class="img-fluid" alt="User Image" src="assets/img/patients/patient1.jpg">
											</a>
										</div>
										<div class="test-users">
											<h3>Paraskevi Still</h3>
											<p class="mb-0">Profession</p>
										</div>
									</div>								
									<div class="pro-footer text-right">
										<i class="fas fa-quote-left"></i>
									</div>
								</div>
								<!-- /Doctor Widget -->
						
								<!-- Doctor Widget -->
								<div class="profile-widget">
									<div class="test-content">
										<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed.</p>
									</div>
									<div class="test-image d-flex align-items-center">
										<div class="test-profile">
											<a [routerLink]="'patients/doctor-profile'">
												<img class="img-fluid" alt="User Image" src="assets/img/patients/patient2.jpg">
											</a>
										</div>
										<div class="test-users">
											<h3>Lorrin Morrison</h3>
											<p class="mb-0">Profession</p>
										</div>
									</div>								
									<div class="pro-footer text-right">
										<i class="fas fa-quote-left"></i>
									</div>
								</div>
								<!-- /Doctor Widget -->
						
								<!-- Doctor Widget -->
								<div class="profile-widget">
									<div class="test-content">
										<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed.</p>
									</div>
									<div class="test-image d-flex align-items-center">
										<div class="test-profile">
											<a [routerLink]="'patients/doctor-profile'">
												<img class="img-fluid" alt="User Image" src="assets/img/patients/patient3.jpg">
											</a>
										</div>
										<div class="test-users">
											<h3>Talib Knoll</h3>
											<p class="mb-0">Profession</p>
										</div>
									</div>								
									<div class="pro-footer text-right">
										<i class="fas fa-quote-left"></i>
									</div>
								</div>
								<!-- /Doctor Widget -->
						
								<!-- Doctor Widget -->
								<div class="profile-widget">
									<div class="test-content">
										<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed.</p>
									</div>
									<div class="test-image d-flex align-items-center">
										<div class="test-profile">
											<a [routerLink]="'patients/doctor-profile'">
												<img class="img-fluid" alt="User Image" src="assets/img/patients/patient4.jpg">
											</a>
										</div>
										<div class="test-users">
											<h3>Wandah Marquis</h3>
											<p class="mb-0">Profession</p>
										</div>
									</div>								
									<div class="pro-footer text-right">
										<i class="fas fa-quote-left"></i>
									</div>
								</div>
								<!-- /Doctor Widget -->
								
								<!-- Doctor Widget -->
								<div class="profile-widget">
									<div class="test-content">
										<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed.</p>
									</div>
									<div class="test-image d-flex align-items-center">
										<div class="test-profile">
											<a [routerLink]="'patients/doctor-profile'">
												<img class="img-fluid" alt="User Image" src="assets/img/patients/patient5.jpg">
											</a>
										</div>
										<div class="test-users">
											<h3>Roddie Rand</h3>
											<p class="mb-0">Profession</p>
										</div>
									</div>								
									<div class="pro-footer text-right">
										<i class="fas fa-quote-left"></i>
									</div>
								</div>
								<!-- /Doctor Widget -->
								
								<!-- Doctor Widget -->
								<div class="profile-widget">
									<div class="test-content">
										<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed.</p>
									</div>
									<div class="test-image d-flex align-items-center">
										<div class="test-profile">
											<a [routerLink]="'patients/doctor-profile'">
												<img class="img-fluid" alt="User Image" src="assets/img/patients/patient6.jpg">
											</a>
										</div>
										<div class="test-users">
											<h3>Lauda Maclean</h3>
											<p class="mb-0">Profession</p>
										</div>
									</div>								
									<div class="pro-footer text-right">
										<i class="fas fa-quote-left"></i>
									</div>
								</div>
								<!-- /Doctor Widget -->
								
								<!-- Doctor Widget -->
								<div class="profile-widget">
									<div class="test-content">
										<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed.</p>
									</div>
									<div class="test-image d-flex align-items-center">
										<div class="test-profile">
											<a [routerLink]="'patients/doctor-profile'">
												<img class="img-fluid" alt="User Image" src="assets/img/patients/patient7.jpg">
											</a>
										</div>
										<div class="test-users">
											<h3>Emerita Kerr</h3>
											<p class="mb-0">Profession</p>
										</div>
									</div>								
									<div class="pro-footer text-right">
										<i class="fas fa-quote-left"></i>
									</div>
								</div>
								<!-- Doctor Widget -->
								
							</div>
						</div>
				   </div>
				</div>
			</section>
			<!-- /Testimonial Section -->

			<!-- Blog Section -->
			<section class="section blog-section">
				<div class="container">
					<div class="section-header">
						<h6>Latest News</h6>
						<h2>Our Blog <a [routerLink]="'blog'" class="member-btn">View all Blogs</a> </h2>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-6 col-lg-4">
							<div class="blog-sec">
								<div class="blog-image">
									<img class="img-fluid" src="assets/img/blog/blog-01.jpg" alt="Post Image">
								</div>
								<div class="blog-content text-center">
									<p>23/02/2020 | Category</p>
									<h3>Lorem ipsum, or lipsum as it is sometimes known doloremque.</h3>
									<a [routerLink]="'blog-details'" class="readmore"> Readmore </a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="blog-sec">
								<div class="blog-image">
									<img class="img-fluid" src="assets/img/blog/blog-02.jpg" alt="Post Image">
								</div>
								<div class="blog-content text-center">
									<p>11/03/2020 | Category</p>
									<h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h3>
									<a [routerLink]="'blog-details'" class="readmore"> Readmore </a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="blog-sec">
								<div class="blog-image">
									<img class="img-fluid" src="assets/img/blog/blog-03.jpg" alt="Post Image">
								</div>
								<div class="blog-content text-center">
									<p>13/03/2020 | Category</p>
									<h3>Lorem ipsum, or lipsum as it is sometimes known doloremque.</h3>
									<a [routerLink]="'blog-details'" class="readmore"> Readmore </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>	
			<!-- /Blog Section -->