<!-- Footer -->
			<footer class="footer">
				<div class="container">
					<div class="footer-top">
						<img src="assets/img/logo-white.png" alt="Logo" class="img-fluid">

						<div class="social-icons">
							<ul>
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
							</ul>
						</div>

						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Your Email">
							<div class="input-group-append">
							  <button class="btn btn-primary" type="button">Subscribe</button>
							</div>
						</div>

						<ul class="footer-nav">
							<li>
								<a href="search.html">Doctors</a>
							</li>
							<li>
								<a href="my-patients.html">Patients</a>
							</li>
							<li>
								<a href="blog-list.html">Blogs</a>
							</li>
							<li>
								<a href="login.html">Login</a>
							</li>
							<li>
								<a href="term-condition.html">Terms & Conditions</a>
							</li>
							<li>
								<a href="privacy-policy.html">Privacy Policy</a>
							</li>							
						</ul>
					</div>

					<div class="footer-bottom">
						<p>© 2020 Doccure | All Rights Reserved.</p>
					</div>
				</div>
			</footer>
			<!-- /Footer -->
		   