<div class="content">
	<div class="container-fluid">		
		<div class="row">
			<div class="col-md-8 offset-md-2">
				
				<!-- Login Tab Content -->
				<div class="account-content">
					<div class="row align-items-center justify-content-center">
						<div class="col-md-7 col-lg-6 login-left">
							<img src="assets/img/login-banner.png" class="img-fluid" alt="Doccure Login">	
						</div>
						<div class="col-md-12 col-lg-6 login-right">
							<div class="login-header">
								<h3>Login <span>Doccure</span></h3>
							</div>
							<form>
								<div class="form-group form-focus">
									<input type="text" name="name" id="username" class="form-control floating" [(ngModel)]="username">
									<label class="focus-label">Email<span class="required">*</span></label>

								</div>
								<div class="form-group form-focus">
									<input type="password" name="password" id="password" class="form-control floating" [(ngModel)]="password">
									<label class="focus-label">Password<span class="required">*</span></label>
								</div>

								<!-- <div>
									<label class="custom_check">
										<input type="checkbox" name="gender_type" [(ngModel)]="isPatient" (click)="checkType($event)"  >
										<span class="checkmark"></span> Patients
									</label>
								</div> -->

								<div class="text-right">
									<a class="forgot-link"  [routerLink]="'/forgot-password'">Forgot Password ?</a>
								</div>
								<button class="btn btn-primary btn-block btn-lg login-btn" type="submit" (click)="login(this.username,this.password)">Login</button>
								<div class="login-or">
									<span class="or-line"></span>
									<span class="span-or">or</span>
								</div>
								<div class="row form-row social-login">
									<div class="col-6">
										<a href="javascript:void(0)" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> Login</a>
									</div>
									<div class="col-6">
										<a class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>
									</div>
								</div>
								<div class="text-center dont-have">Don’t have an account? <a  [routerLink]="'/Register'">Register</a></div>
							</form>
						</div>
					</div>
				</div>
				<!-- /Login Tab Content -->
					
			</div>
		</div>

	</div>

</div>		