.required {
	color : red;
	padding-left: 3px;
}
.content {
	padding-bottom: 50px;
	background-color: #fff;
}
.form-focus .focus-label {
    font-size: 13px; 
}
.form-control {
    font-size: 14px !important;
}