<!-- Home Banner -->
<section class="section section-banner">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="row carousel-inner m-0">
          <div class="col-md-12 carousel-item active p-0">
            <div class="row banner-wrapper">
              <div class="col-md-6 banner-content pl-0">
                <h2>The ultimate <span class="text-red">
                theraphy </span> for severe <span class="text-red">pain</span></h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis explicabo.</p>
                <a href="#" class="btn-red mb-3">Make an Appointment</a>
              </div>
              <div class="col-md-6 text-right pr-0">
                  <img src="assets/img/banner-img1.jpg" class="inner-img" alt="physiotheraphy">
              </div>
            </div>
          </div>
          <div class="carousel-item">
              <div class="row banner-wrapper">
              <div class="col-md-6 banner-content pl-0">
                <h2>The ultimate <span class="text-red">
                theraphy </span> for severe <span class="text-red">pain</span></h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis explicabo.</p>
                <a href="#" class="btn-red mb-3">Make an Appointment</a>
              </div>
              <div class="col-md-6 text-right pr-0">
                  <img src="assets/img/banner-img2.jpg" class="inner-img" alt="physiotheraphy">
              </div>
            </div>
          </div>
          <div class="carousel-item">
              <div class="row banner-wrapper">
              <div class="col-md-6 banner-content pl-0">
                <h2>The ultimate <span class="text-red">
                theraphy </span> for severe <span class="text-red">pain</span></h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis explicabo.</p>
                <a href="#" class="btn-red mb-3">Make an Appointment</a>
              </div>
              <div class="col-md-6 text-right pr-0">
                  <img src="assets/img/banner-img3.jpg" class="inner-img" alt="physiotheraphy">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- /Home Banner -->

<section class="service-section">
  <div class="container">
    <!-- Section Header -->
    <div class="section-header text-center">
      <h2>Our <span class="text-red">Services</span></h2>
      <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <!-- /Section Header -->
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 col-md-12">
        <div class="service-wrapper">
          <div class="service-tabs">
            <ul class="nav nav-tabs nav-tabs-solid nav-justified">
              <li class="nav-item"><a class="nav-link active" href="#solid-justified-tab1" data-toggle="tab">Electro Therapy</a></li>
              <li class="nav-item"><a class="nav-link" href="#solid-justified-tab2" data-toggle="tab">Accupuncture</a></li>
              <li class="nav-item"><a class="nav-link" href="#solid-justified-tab3" data-toggle="tab">Hydrotherapy</a></li>
              <li class="nav-item"><a class="nav-link" href="#solid-justified-tab4" data-toggle="tab">Massage</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane show active" id="solid-justified-tab1">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6">
                    <img src="assets/img/service-img1.jpg" class="tab-img" alt="">
                  </div>
                  <div class="col-12 col-md-6">
                    <h3>Electro Therapy</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo. sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo remque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn-border-red">Get More Details</a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="solid-justified-tab2">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6">
                    <img src="assets/img/service-img2.jpg" class="tab-img" alt="">
                  </div>
                  <div class="col-12 col-md-6">
                    <h3>Accupuncture</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo. sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo remque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn-border-red">Get More Details</a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="solid-justified-tab3">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6">
                    <img src="assets/img/service-img4.jpg" class="tab-img" alt="">
                  </div>
                  <div class="col-12 col-md-6">
                    <h3>Hydrotherapy</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo. sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo remque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn-border-red">Get More Details</a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="solid-justified-tab4">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6">
                    <img src="assets/img/service-img3.jpg" class="tab-img" alt="">
                  </div>
                  <div class="col-12 col-md-6">
                    <h3>Massage</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo. sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo remque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn-border-red">Get More Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- /Services -->
<!-- Search Section -->

<!-- Popular Section -->
<!-- Key Pillars -->
<section class="section-wrapper">
  <div class="container key-section">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="row key-box">
          <div class="col-12 col-md-12 col-lg-12">
            <h2 class="title">Our doctors follow our 5 key pillars
            to get you in top conditions</h2>
          </div>
        </div>
        <div class="row align-items-center key-box">
          <div class="col-12 col-md-3 col-lg-4">
            <div class="key-img">
              <img src="assets/img/key-img1.png" alt="">
            </div>
          </div>
          <div class="col-12 col-md-9 col-lg-8">
            <h3>Posture</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque alaudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
          </div>
        </div>
        <div class="row align-items-center key-box">
          <div class="col-12 col-md-3 col-lg-4">
            <div class="key-img">
              <img src="assets/img/key-img2.png" alt="">
            </div>
          </div>
          <div class="col-12 col-md-9 col-lg-8">
            <h3>Posture</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque alaudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="row align-items-center key-box">
          <div class="col-12 col-md-3 col-lg-4">
            <div class="key-img">
              <img src="assets/img/key-img3.png" alt="">
            </div>
          </div>
          <div class="col-12 col-md-9 col-lg-8">
            <h3>Posture</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque alaudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
          </div>
        </div>
        <div class="row align-items-center key-box">
          <div class="col-12 col-md-3 col-lg-4">
            <div class="key-img">
              <img src="assets/img/key-img4.png" alt="">
            </div>
          </div>
          <div class="col-12 col-md-9 col-lg-8">
            <h3>Posture</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque alaudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
          </div>
        </div>
        <div class="row align-items-center key-box">
          <div class="col-12 col-md-3 col-lg-4">
            <div class="key-img">
              <img src="assets/img/key-img5.png" alt="">
            </div>
          </div>
          <div class="col-12 col-md-9 col-lg-8">
            <h3>Posture</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque alaudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Key Pillars -->

<!--  Physio Section -->
<section class="physio-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <!-- Section Header -->
        <div class="section-header">
          <h2>Why  <span class="text-red">Doccure-Physio?</span></h2>
          <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <!-- /Section Header -->

        <div class="row physio-content">
          <div class="col-md-6">
            <img src="assets/img/physio1.jpg" alt="" class="physio-img">
            <h4>Experienced Therapist</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, quae ab illo.</p>
          </div>
          <div class="col-md-6">
            <img src="assets/img/physio2.jpg" alt="" class="physio-img">
            <h4>Personalised Treatment</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, quae ab illo.</p>
          </div>
          <div class="col-md-6">
            <img src="assets/img/physio3.jpg" alt="" class="physio-img">
            <h4>Trained Therapists</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, quae ab illo.</p>
          </div>
          <div class="col-md-6">
            <img src="assets/img/physio4.jpg" alt="" class="physio-img">
            <h4>Fully Equipped Clinic</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, quae ab illo.</p>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-12 col-lg-6 text-right">
        <div class="physio-img">
          <img src="assets/img/physio.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Physio Section -->

<!-- Testimonial Section -->
<section class="testimonial-section">
  <div class="container">
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIndicators" data-slide-to="1"></li>
          <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>
        <div class="row carousel-inner m-0">
          <div class="col-md-12 carousel-item active p-0">
            <div class="row banner-wrapper align-items-center">
              <div class="col-md-7 col-lg-9 banner-content">
              <div class="section-header">
                <h2>Our Testimonial</h2>
                <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam totam rem aperiam.</p>
                <div class="auth-sec">
                  <h4>Mary Wiley</h4>
                  <p>Web Developer</p>
                </div>
              </div>
              </div>
              <div class="col-md-5 col-lg-3 test-user">
                  <img src="assets/img/test-img1.jpg" class="inner-img" alt="physiotheraphy">
              </div>
            </div>
          </div>
          <div class="carousel-item">
              <div class="row banner-wrapper align-items-center">
              <div class="col-md-7 col-lg-9 banner-content">
              <div class="section-header">
                <h2>Our Testimonial</h2>
                <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam totam rem aperiam.</p>
                <div class="auth-sec">
                  <h4>John Smith</h4>
                  <p>Web Developer</p>
                </div>
              </div>
              </div>
              <div class="col-md-5 col-lg-3 test-user">
                  <img src="assets/img/test-img2.jpg" class="inner-img" alt="physiotheraphy">
              </div>
            </div>
          </div>
          <div class="carousel-item">
              <div class="row banner-wrapper align-items-center">
              <div class="col-md-7 col-lg-9 banner-content">
              <div class="section-header">
                <h2>Our Testimonial</h2>
                <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam totam rem aperiam.</p>
                <div class="auth-sec">
                  <h4>Clara Brady</h4>
                  <p>Web Developer</p>
                </div>
              </div>
              </div>
              <div class="col-md-5 col-lg-3 test-user">
                  <img src="assets/img/test-img3.jpg" class="inner-img" alt="physiotheraphy">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- /Testimonial Section -->
<!-- /Popular Section -->

	<!-- Doctors Section -->
  <section class="section section-profile">
    <div class="container">

      <!-- Section Header -->
      <div class="section-header text-center mb-5">
        <h2>Our <span class="text-red">Doctors</span></h2>
        <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <!-- /Section Header -->

      <div class="row doctors-wrapper justify-content-center">
        <div class="col-lg-12">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="solutionSliderConfig">
    <!-- Profile Widget -->
    <div class="profile-widget" ngxSlickItem *ngFor="let slide of slidesDoctor">
      <div class="doc-img">
        <a href="">
          <img class="img-fluid" alt="User Image" src="{{slide.img}}">
        </a>
      </div>
      <div class="pro-content">
        <h3 class="title">
          <a href="doctor-profile.html">{{slide.doctor_name}}</a>
        </h3>
        <p class="speciality">{{slide.specialist_name}}</p>
        <div class="rating">
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="far fa-star"></i>
          <span class="d-inline-block average-rating">{{slide.rating}}</span>
        </div>
        <ul class="available-info">
          <li>
            <i class="fas fa-map-marker-alt"></i> {{slide.location}}
          </li>
          <li>
            <i class="fas fa-calendar-check"></i> {{slides.availablity}}
          </li>
          <li>
            <i class="fas fa-wallet"></i> {{slide.price}}
          </li>
        </ul>
        <div class="row row-sm">
          <div class="col-6">
            <a href="doctor-profile.html" class="btn view-btn">View Profile</a>
          </div>
          <div class="col-6">
            <a href="booking.html" class="btn book-btn">Book Now</a>
          </div>
        </div>
        </div>
    </div>
    <!-- /Profile Widget -->
    </ngx-slick-carousel>
</div>

      </div>

    </div>
  </section>
  <!-- /Doctors Section -->

  <!-- Contact Section -->
  <section class="contact-section">
    <div class="container contact-form">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-header">
            <h2>Contact Us</h2>
            <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem a ccusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
          <div class="contact-icons">
            <ul class="available-info">
              <li>
                <i class="fas fa-phone-alt"></i> 090 98763456
              </li>
              <li>
                <i class="fas fa-map-marker-alt"></i> 22, South Wales, Newyork
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Mobile Number">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Date">
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Doctor Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Time">
              </div>
            </div>
            <div class="col-lg-12">
              <a href="booking.html" class="btn book-btn">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Contact Section -->

<!-- Footer -->
<footer class="footer">

  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="footer-logo">
            <a href="index.html">Doccure-Physio</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">

          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <div class="footer-about-content">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo remque laudant Sed ut perspiciatis unde omnis iste natus error sit voluptatem acc usantium dolo remque laudant, Sed ut perspiciatis unde omnis iste natus error sit dolo remque laudant Sed ut unde omnis iste natus error sit. </p>

            </div>
          </div>
          <!-- /Footer Widget -->

        </div>

        <div class="col-lg-6 col-md-6">

          <!-- Footer Widget -->
          <div class="search-holder">
            <input type="text" name="search" placeholder="Email Id">
            <button class="btn btn-sub">Subscribe</button>
          </div>
          <!-- /Footer Widget -->
          <div class="social-icon media-btn mt-3">
            <ul>
              <li>
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
          <div class="footer-bottom">
    <div class="container">

      <!-- Copyright -->
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 col-lg-6">

            <!-- Copyright Menu -->
            <div class="copyright-menu">
              <ul class="policy-menu">
                <li><a href="term-condition.html">Terms & Conditions</a></li>
                <li><a href="privacy-policy.html">Privacy Policy</a></li>
              </ul>
            </div>
            <!-- /Copyright Menu -->

          </div>
          <div class="col-md-6 col-lg-6">
            <div class="copyright-text text-right">
              <p class="mb-0">&copy; 2020 <span class="text-red">Doccure-Physio </span>All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /Copyright -->

    </div>
  </div>
  <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->

<!-- /Blog -->
