<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Blog Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="''">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="javascript:(0);">Pages</a></li>
                        <li class="breadcrumb-item active">Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-sm-12">
                        
                
                    <!-- Blog Details-->
                    <div class="blog-view">
                    <div class="blog blog-single-post">
                        <div class="blog-image">
                            <a href="javascript:void(0);"><img alt="" src="assets/img/blog/blog-01.jpg" class="img-fluid"></a>
                        </div>
                        <h3 class="blog-title">Dr. HP – Making your clinic painless visit?</h3>
                        <div class="blog-info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li>
                                        <div class="post-author">
                                            <a [routerLink]="'/admin/doc-profile'"><img src="assets/img/doctors/dr-harry-img.png" alt="Post Author"> <span>Dr. Harry Papagapiou</span></a>
                                        </div>
                                    </li>
                                    <li><i class="far fa-calendar"></i>4 Dec 2019</li>
                                    <li><i class="far fa-comments"></i>12 Comments</li>
                                    <li><i class="fa fa-tags"></i>Health Tips</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                        </div>
                    </div>
                    
                    <div class="card blog-share clearfix">
                        <div class="card-header">
                            <h4 class="card-title">Share the post</h4>
                        </div>
                        <div class="card-body">
                            <ul class="social-share">
                                <li><a href="javascript:void(0)" title="Facebook"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="javascript:void(0)" title="Google Plus"><i class="fab fa-google-plus"></i></a></li>
                                <li><a href="javascript:void(0)" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card author-widget clearfix">
                    <div class="card-header">
                        <h4 class="card-title">About Author</h4>
                        </div>
                    <div class="card-body">
                        <div class="about-author">
                            <div class="about-author-img">
                                <div class="author-img-wrap">
                                    <a [routerLink]="'/admin/doc-profile'"><img class="img-fluid rounded-circle" alt="" src="assets/img/doctors/dr-harry-img.png"></a>
                                </div>
                            </div>
                            <div class="author-details">
                                <a [routerLink]="'/admin/doc-profile'" class="blog-author-name">Dr. Harry Papagapiou</a>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="card blog-comments clearfix">
                        <div class="card-header">
                            <h4 class="card-title">Comments (12)</h4>
                        </div>
                        <div class="card-body pb-0">
                        <ul class="comments-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <img class="avatar" alt="" src="assets/img/patients/patient4.jpg">
                                    </div>
                                    <div class="comment-block">
                                        <span class="comment-by">
                                            <span class="blog-author-name">Tebogo Legodi</span>
                                        </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <p class="blog-date">Dec 6, 2017</p>
                                        <a class="comment-btn" href="javascript:void(0)">
                                            <i class="fas fa-reply"></i> Reply
                                        </a>
                                    </div>
                                </div>
                                <ul class="comments-list reply">
                                    <li>
                                        <div class="comment">
                                            <div class="comment-author">
                                                <img class="avatar" alt="" src="assets/img/patients/patient5.jpg">
                                            </div>
                                            <div class="comment-block">
                                                <span class="comment-by">
                                                    <span class="blog-author-name">Thobile Ntuli</span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                <p class="blog-date">Dec 6, 2017</p>
                                        <a class="comment-btn" href="javascript:void(0)">
                                            <i class="fas fa-reply"></i> Reply
                                        </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment">
                                            <div class="comment-author">
                                                <img class="avatar" alt="" src="assets/img/patients/patient3.jpg">
                                            </div>
                                            <div class="comment-block">
                                                <span class="comment-by">
                                                    <span class="blog-author-name">Lucy Maboya</span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                <p class="blog-date">December 7, 2017</p>
                                        <a class="comment-btn" href="javascript:void(0)">
                                            <i class="fas fa-reply"></i> Reply
                                        </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <img class="avatar" alt="" src="assets/img/patients/patient6.jpg">
                                    </div>
                                    <div class="comment-block">
                                        <span class="comment-by">
                                            <span class="blog-author-name">Elsie Gilley</span>
                                        </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <p class="blog-date">December 11, 2017</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <img class="avatar" alt="" src="assets/img/patients/patient7.jpg">
                                    </div>
                                    <div class="comment-block">
                                        <span class="comment-by">
                                            <span class="blog-author-name">Joan Gardner</span>
                                        </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <p class="blog-date">December 13, 2017</p>
                                        <a class="comment-btn" href="javascript:void(0)">
                                            <i class="fas fa-reply"></i> Reply
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    </div>
                    
                    <div class="card new-comment clearfix">
                        <div class="card-header">
                            <h4 class="card-title">Leave Comment</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label>Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Your Email Address <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Comments</label>
                                    <textarea rows="4" class="form-control"></textarea>
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
                    <!-- /Blog Details-->
            </div>			
        </div>
        
    </div>			
</div>
<!-- /Page Wrapper -->



<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title">Add Blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row form-row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="speciality">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" name="speciality">
                    </div>
                </div>
                 <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" class="form-control" name="type">
                    </div>
                </div>
                
            </div>
            <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
        </form>
    </div>
</ng-template>

<!-- Model -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="acc_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="acc_msg"></p>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-success si_accept_confirm">Yes</a>
                <button type="button" class="btn btn-danger si_accept_cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteNotConfirmModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="acc_title">Inactive Service?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="acc_msg">Service is Booked and Inprogress..</p>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-danger si_accept_cancel" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- /Model -->