<!-- Header -->
<div class="header">			
	<!-- Logo -->
	<div class="header-left">
		<a href="#/index" class="logo">
			<img src="assets/img/dr-Harry-logo.png" alt="Logo">
		</a>
		<a href="#/index" class="logo logo-small">
			<img src="assets/admin/img/logo-small.png" alt="Logo" width="30" height="30">
		</a>
	</div>
	<!-- /Logo -->
	
	<a href="javascript:void(0);" id="toggle_btn">
		<i class="fe fe-text-align-left"></i>
	</a>
	
	<div class="top-nav-search">
		<form>
			<input type="text" class="form-control" placeholder="Search here">
			<button class="btn" type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>
	
	<!-- Mobile Menu Toggle -->
	<a class="mobile_btn" id="mobile_btn">
		<i class="fa fa-bars"></i>
	</a>
	<!-- /Mobile Menu Toggle -->
	
	<!-- Header Right Menu -->
	<ul class="nav user-menu">

		<!-- Notifications -->
		<li class="nav-item dropdown noti-dropdown">
			<a href="javascript:void(0)" class="dropdown-toggle nav-link" (click)="bell()"
			[attr.aria-expanded]="!bellCollapsed" aria-controls="collapseExample1">
				<i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
			</a>
			<div class="dropdown-menu notifications" id="collapseExample1" [ngbCollapse]="bellCollapsed">
				<div class="topnav-dropdown-header">
					<span class="notification-title">Notifications</span>
					<a href="javascript:void(0)" class="clear-noti" (click)="bellCollapsed = !bellCollapsed"> Clear All </a>
				</div>
				<div class="noti-content">
					<ul class="notification-list">
						<li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
							<a href="javascript:void(0)">
								<div class="media">
									<span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/doctors/dr-harry-img.png">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">Dr. Ruby Perrin</span> Schedule <span class="noti-title">her appointment</span></p>
										<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
							<a href="javascript:void(0)">
								<div class="media">
									<span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/patients/patient1.jpg">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">Saloshana Naidoo</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
										<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
							<a href="javascript:void(0)">
								<div class="media">
									<span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/patients/patient2.jpg">
									</span>
									<div class="media-body">
									<p class="noti-details"><span class="noti-title">Zandile Ndarala</span> sent a amount of $210 for his <span class="noti-title">appointment</span></p>
									<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
							<a href="javascript:void(0)">
								<div class="media">
									<span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/patients/patient3.jpg">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">Lucy Maboya</span> send a message <span class="noti-title"> to his doctor</span></p>
										<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="topnav-dropdown-footer">
					<a href="javascript:void(0)" (click)="bellCollapsed = !bellCollapsed">View all Notifications</a>
				</div>
			</div>
		</li>
		<!-- /Notifications -->
		
		<!-- User Menu -->
		<li class="nav-item dropdown has-arrow" id="dropdown" >
			<a href="javascript:void(0)" class="dropdown-toggle nav-link"  class="dropdown-toggle nav-link" (click)="user()" 
			[attr.aria-expanded]="!userCollapsed" aria-controls="collapseExample2">
				<span class="user-img"><img class="rounded-circle" src="assets/admin/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor"></span>
			</a>
			<div class="dropdown-menu" id="collapseExample2" [ngbCollapse]="userCollapsed">
				<div class="user-header">
					<div class="avatar avatar-sm">
						<img src="assets/admin/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
					</div>
					<div class="user-text">
						<h6>Ryan Taylor</h6>
						<p class="text-muted mb-0">Administrator</p>
					</div>
				</div>
				<a class="dropdown-item" [routerLink]="'doc-profile'">My Profile</a>
				<a class="dropdown-item" [routerLink]="'settings'">Settings</a>
				<a class="dropdown-item" (click)="clickLogout()">Logout</a>
			</div>
		</li>
		<!-- /User Menu -->
		
	</ul>
	<!-- /Header Right Menu -->
	
</div>
<!-- /Header -->

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title"> 
					<span>Main</span>
				</li>
				<li [routerLink]="'/pharmacy-admin/dashboard'" [class.active]="page === 'Dashboard'"> 
					<a  (click)="change('Dashboard')"><i class="fe fe-home" style="color: #fff"></i> 
						<span style="color: #fff">Dashboard</span></a>
				</li>
				<li class="submenu">
					<a href="javascript:void(0)"><i class="fe fe-document"></i> <span> Products </span> <span class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'Products'"><a (click)="change('Products')" [routerLink]="'products'"> Products </a></li>
						<li [class.active]="page === 'Add Product'"><a (click)="change('Add Product')" [routerLink]="'add-product'"> Add Product </a></li>
						<li [class.active]="page === 'Out Stock'"><a (click)="change('Out Stock')" [routerLink]="'out-stock'"> Out Stock </a></li>
						<li [class.active]="page === 'Expired'"><a (click)="change('Expired')" [routerLink]="'expired'"> Expired </a></li>
					</ul>
				</li>
				<li [class.active]="page === 'Categories'"> 
					<a (click)="change('Categories')" [routerLink]="'/pharmacy-admin/categories'"><i class="fe fe-users"></i> <span>Categories</span></a>
				</li>
				<li class="submenu">
					<a href="javascript:void(0)"><i class="fe fe-layout"></i> <span> Purchase </span> <span class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'Purchase'"><a (click)="change('Purchase')" [routerLink]="'purchase'">Purchase </a></li>
						<li [class.active]="page === 'Add Purchase'"><a (click)="change('Add Purchase')" [routerLink]="'add-purchase'">Add Purchase </a></li>
						<li [class.active]="page === 'Orders'"><a (click)="change('Orders')" [routerLink]="'orders'">Orders</a></li>    
					</ul>
				</li>
				<li [class.active]="page === 'Sales'" > 
					<a (click)="change('Sales')" [routerLink]="'/pharmacy-admin/sales'"><i class="fe fe-user-plus"></i> <span>Sales</span></a>
				</li>
				<li class="submenu">
					<a href="javascript:void(0)"><i class="fe fe-layout"></i> <span> Supplier </span> <span class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'Supplier'"><a (click)="change('Supplier')" [routerLink]="'supplier'">Supplier </a></li>
						<li [class.active]="page === 'Add Supplier'"><a (click)="change('Add Supplier')" [routerLink]="'add-supplier'">Add Supplier </a></li>   
					</ul>
				</li>
				<li [class.active]="page === 'Patients'" > 
					<a (click)="change('Transaction')" [routerLink]="'/pharmacy-admin/transactions'" ><i class="fe fe-user"></i> <span>Transaction</span></a>
				</li>
				<li class="submenu">
					<a href="javascript:void(0)"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'Invoice Reports'"><a (click)="change('Invoice Reports')" [routerLink]="'/pharmacy-admin/invoice-reports'">Invoice Reports</a></li>
					</ul>
				</li>
				<li class="menu-title"> 
					<span>Pages</span>
				</li>
				<li [class.active]="page === 'Profile'"><a (click)="change('Profile')" [routerLink]="'profile'"><i class="fe fe-user-plus"></i> <span>Profile</span></a></li>				
				<li [class.active]="page === 'Settings'"><a (click)="change('Settings')" [routerLink]="'settings'"><i class="fe fe-file"></i> <span>Settings</span></a></li>				
			</ul>
		</div>
	</div>
</div>
<!-- /Sidebar -->