<div class="page-wrapper">
	<div class="content container-fluid">
	
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Invoice Report</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="''">Dashboard</a></li>
						<li class="breadcrumb-item active">Invoice Report</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Invoice Number</th>
										<th>Patient ID</th>
										<th>Patient Name</th>
										<th>Total Amount</th>
										<th class="text-center">Status</th>
										<th class="text-right">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let trans of transactions">
										<td><a>{{trans.invoiceNumber}}</a></td>
										<td>{{trans.patient_id}}</td>
										<td>
											<h2 class="table-avatar">
												<a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="trans.profile" alt="User Image"></a>
												<a  [routerLink]="'doc-profile'">{{trans.patient_name}} </a>
											</h2>
										</td>
										<td>{{trans.total_amount}}</td>
										<td class="text-center">
											<span class="badge badge-pill bg-success inv-badge">{{trans.status}}</span>
										</td>
										<td class="text-right">
											<div class="actions">
												<a data-toggle="modal" (click)="deleteModal(delete,trans)"
                                                    class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
											</div>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>			
		</div>
		
	</div>			
</div>
<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
      Are you sure want to delete this speciality?
      <div style="margin-top:25px">
        <button type="button" class="btn btn-default" (mouseover)="btnColor()" id="btn-yes" (click)="deleteReport()" >Yes</button>
        <button type="button" class="btn btn-primary" (mouseover)="btnColorNo()" id="btn-no" (click)="decline()" >No</button>
      </div>
    </div>
</ng-template>