 <div class="page-wrapper">
	<div class="content container-fluid">			
					<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">List of Patient</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="''">Dashboard</a></li>
						<li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
						<li class="breadcrumb-item active">Patient</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<div class="table-responsive">
							<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Patient ID</th>
										<th>Patient Name</th>
										<th>Age</th>
										<th>Address</th>
										<th>Phone</th>
										<th>Last Visit</th>
										<th class="text-right">Paid</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let patient of patientsList">
										<td>{{patient.key}}</td>
										<td>
											<h2 class="table-avatar">
												<a href="javascript:void(0)" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="patient.img" alt="User Image"></a>
												<a>{{patient.name}} </a>
											</h2>
										</td>
										<td>{{patient.age}}</td>
										<td>{{patient.address}}</td>
										<td>{{patient.phone}}</td>
										<td>{{patient.lastvisit | date : 'dd MMM yyyy'}}</td>
										<td class="text-right">${{patient.paid}}</td>
									</tr>
									
								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		
	</div>			
</div>