


<!-- Clinic and Specialities -->
<section class="section section-specialities">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h2>Clinic and Specialities</h2>
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9">
                <!-- Slider -->
                <ngx-slick-carousel class="specialities-slider slider" #slickModal="slick-carousel" [config]="slideConfig3">
                    <div ngxSlickItem *ngFor="let slide of slides" class="speicality-item text-center">
                            <div class="speicality-img">
                                <img src="{{slide.img}}" class="img-fluid" alt="Speciality">
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            </div>
                            <p>{{slide.name}}</p>
                    </div>
                </ngx-slick-carousel>
                <!-- /Slider -->
            </div>
        </div>
    </div>
</section>
<!-- Clinic and Specialities -->
<!-- Category Section -->
<section class="section section-category">
    <div class="container">
        <div class="section-header text-center">
            <h2>Browse by Specialities</h2>
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="category-box">
                    <div class="category-image">
                        <img src="assets/img/category/1.png" alt="">
                    </div>
                    <div class="category-content">
                        <h4>Urology</h4>
                        <span>21 Doctors</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="category-box">
                    <div class="category-image">
                        <img src="assets/img/category/2.png" alt="">
                    </div>
                    <div class="category-content">
                        <h4>Neurology</h4>
                        <span>18 Doctors</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="category-box">
                    <div class="category-image">
                        <img src="assets/img/category/3.png" alt="">
                    </div>
                    <div class="category-content">
                        <h4>Orthopedic</h4>
                        <span>17 Doctors</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="category-box">
                    <div class="category-image">
                        <img src="assets/img/category/4.png" alt="">
                    </div>
                    <div class="category-content">
                        <h4>Cardiologist</h4>
                        <span>12 Doctors</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="category-box">
                    <div class="category-image">
                        <img src="assets/img/category/5.png" alt="">
                    </div>
                    <div class="category-content">
                        <h4>Dentist</h4>
                        <span>07 Doctors</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="category-box">
                    <div class="category-image">
                        <img src="assets/img/category/1.png" alt="">
                    </div>
                    <div class="category-content">
                        <h4>Urology</h4>
                        <span>16 Doctors</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="category-box">
                    <div class="category-image">
                        <img src="assets/img/category/4.png" alt="">
                    </div>
                    <div class="category-content">
                        <h4>Cardiologist</h4>
                        <span>18 Doctors</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="category-box">
                    <div class="category-image">
                        <img src="assets/img/category/3.png" alt="">
                    </div>
                    <div class="category-content">
                        <h4>Neurology</h4>
                        <span>22 Doctors</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category Section -->
<!-- Popular Section -->
<section class="section section-doctor">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h2>Book Our Best Doctor</h2>
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="doctor-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigure">
                        <div class="slick-slide" *ngFor="let doctor of doctors;let i=index">
                            <div ngxSlickItem>
                                <div class="profile-widget" style="width: 100%; display: inline-block;">
                                    <div class="doc-img">
                                        <a [routerLink]="'/patients/doctor-profile'"
                                            [queryParams]="{id: doctor.id}" tabindex="-1">
                                            <img class="img-fluid" alt="User Image" [src]="doctor.profile">
                                        </a>
                                        <a href="javascript:void(0)" class="fav-btn" tabindex="-1">
                                            <i class="far fa-bookmark"></i>
                                        </a>
                                    </div>
                                    <div class="pro-content">
                                        <h3 class="title">
                                            <a [routerLink]="'/patients/doctor-profile'"
                                                [queryParams]="{id: doctor.id}"
                                                tabindex="-1">{{doctor.doctor_name}}</a>
                                            <i class="fas fa-check-circle verified"></i>
                                        </h3>
                                        <p class="speciality">{{doctor.Education}}</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(49)</span>
                                        </div>
                                        <ul class="available-info">
                                            <li>
                                                <i class="fas fa-map-marker-alt"></i> {{doctor.Price}}
                                            </li>
                                            <li>
                                                <i class="far fa-clock"></i> {{doctor.Available}}
                                            </li>
                                            <li>
                                                <i class="far fa-money-bill-alt"></i> {{doctor.Price}}
                                                <a href="javascript:void(0)" tooltip="Lorem Ipsum" placement="top"><i class="fas fa-info-circle"></i></a>
                                            </li>
                                        </ul>
                                        <div class="row row-sm">
                                            <div class="col-6">
                                                <a [routerLink]="'/patients/doctor-profile'"
                                                    [queryParams]="{id: doctor.id}" class="btn view-btn"
                                                    tabindex="-1">View Profile</a>
                                            </div>
                                            <div class="col-6">
                                                <a [routerLink]="'/patients/booking'"
                                                    [queryParams]="{id: doctor.id}" class="btn book-btn"
                                                    tabindex="-1">Book
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>          
            </div>
        </div>
    </div>
</section>
<!-- /Popular Section -->
<!-- Availabe Features -->
<section class="section section-features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 features-img">
                <img src="assets/img/features/feature.png" class="img-fluid" alt="Feature">
            </div>
            <div class="col-md-7">
                <div class="section-header">
                    <h2 class="mt-2">Availabe Features in Our Clinic</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
                <div class="features-slider slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2">
                        <div ngxSlickItem *ngFor="let slide of sliderContent">
                            <div class="feature-item text-center">
                            <img src="{{slide.img}}" class="img-fluid" alt="Feature">
                                <p>{{slide.name}}</p>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Availabe Features -->
<!-- Blog Section -->
<section class="section section-blogs">
    <div class="container-fluid">
        <!-- Section Header -->
        <div class="section-header text-center">
            <h2>Blogs and News</h2>
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <!-- /Section Header -->
        <div class="row blog-grid-row">
            <div class="col-md-6 col-lg-3 col-sm-12" *ngFor="let blog of blogs;let i=index" [hidden]="i>3">

                <!-- Blog Post -->
                <div class="blog grid-blog">
                    <div class="blog-image">
                        <a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}"><img class="img-fluid"
                                [src]="blog.img" alt="Post Image"></a>
                    </div>
                    <div class="blog-content">
                        <ul class="entry-meta meta-item">
                            <li>
                                <div class="post-author">
                                    <a [routerLink]="'/patients/doctor-profile'"><img [src]="blog.doctor_pic" alt="Post Author"> <span>{{blog.doctor_name}}</span></a>
                                </div>
                            </li>
                            <li><i class="far fa-clock"></i> {{blog.createdAt | date : 'dd MMM yyyy'}}</li>
                        </ul>
                        <h3 class="blog-title"><a [routerLink]="'/blog-details'"
                                [queryParams]="{id: blog.id}">{{blog.title}}</a></h3>
                        <p class="mb-0 desc-ellipsis">{{blog.description}}</p>
                    </div>
                </div>
                <!-- /Blog Post -->

            </div>
        </div>
        <div class="view-all text-center">	<a [routerLink]="'/admin/blog'" class="btn btn-primary">View All</a>
        </div>
    </div>
</section>
<!-- /Blog Section -->
