<!-- Home Banner -->
			<section class="section home-banner">
				<div class="container-fluid">
					<div class="row banner-wrapper">
						<div class="col-md-6"></div>
						<div class="col-md-6">
							<div class="banner-header">
								<h1>We are here to help <br>with all of your <span><br>Pet's Needs!</span></h1>
								<a class="btn btn-primary mt-4">Book Now</a>
								<a class="btn btn-outline-primary mt-4 ml-2">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Home Banner -->

			<!-- Banner Bottom -->
			<div class="banner-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="card">
								<div class="care-text">
									<h2>Pet Care</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								</div>
								<div>
									<img src="assets/img/pet-care.png" alt="Pet Care" />
								</div>								
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="care-text">
									<h2>Pet Medicine</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								</div>
								<div>
									<img src="assets/img/pet-medicine.png" alt="Pet Care" />
								</div>								
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="care-text">
									<h2>Grooming</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								</div>
								<div>
									<img src="assets/img/grooming.png" alt="Pet Care" />
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Banner Bottom -->

			<!-- About Us -->
			<section class="about-us">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div>
								<i class="fas fa-paw title-icon"></i>
								<p class="title-top">About Us</p>
								<h2 class="section-title">We Care <br>About Your Pet</h2>
							</div>							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit, Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<a class="btn btn-primary mt-4">Know More</a>
						</div>
						<div class="col-md-6">
							<img src="assets/img/about-us.png" alt="About Us" class="img-fluid" />
							<div class="exp-box">
								<h3>15+</h3>
								<p>Years <br>Experience</p>
							</div>
						</div>
					</div>					
				</div>
			</section>
			<!-- /About Us -->

			<!-- Our Services -->
			<section class="our-service">
				<div class="container">
					<div>
						<i class="fas fa-paw title-icon"></i>
						<p class="title-top">What we offer</p>
						<h2 class="section-title">Our Services</h2>
					</div>
					<div class="our-service-slider slider">

						<div class="service-widgets">
							<div class="white-widget">
								<div class="card">
									<div>
										<img src="assets/img/img-1.jpg" alt="Behaviour" class="img-fluid" />
									</div>
									<h3>Behaviour</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
								</div>
							</div>
							<div class="orange-widget">
								<a href="#" class="btn btn-primary">Read More</a>
							</div>
						</div>

						<div class="service-widgets">
							<div class="white-widget">
								<div class="card">
									<div>
										<img src="assets/img/img-2.jpg" alt="Behaviour" class="img-fluid" />
									</div>
									<h3>Cardiology</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
								</div>
							</div>
							<div class="orange-widget">
								<a href="#" class="btn btn-primary">Read More</a>
							</div>
						</div>

						<div class="service-widgets">
							<div class="white-widget">
								<div class="card">
									<div>
										<img src="assets/img/img-3.jpg" alt="Behaviour" class="img-fluid" />
									</div>
									<h3>Vaccination</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
								</div>
							</div>
							<div class="orange-widget">
								<a href="#" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Our Services -->

			<!-- Our Team -->
			<section class="our-team">
				<div class="container">
					<div>
						<i class="fas fa-paw title-icon"></i>
						<p class="title-top">Qualified Professionals</p>
						<h2 class="section-title">Our Team</h2>
					</div>
					<div class="row mt-4">
						<div class="col-sm-6 col-md-3">
							<div class="card">
								<img src="assets/img/our-team-01.jpg" alt="Our Team" class="img-fluid">
								<div class="card-body">
								  <h5 class="card-title">Wayne Jameson</h5>
								  <h6>Veterinarian</h6>
								  <p class="card-text">Id fermentum augue, ut pellen tesque leo nas. Maecenas at arcu risus Donec com modo.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3">
							<div class="card">
								<img src="assets/img/our-team-02.jpg" alt="Our Team" class="img-fluid">
								<div class="card-body">
								  <h5 class="card-title">Erica Dawson</h5>
								  <h6>Veterinarian</h6>
								  <p class="card-text">Id fermentum augue, ut pellen tesque leo nas. Maecenas at arcu risus Donec com modo.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3">
							<div class="card">
								<img src="assets/img/our-team-03.jpg" alt="Our Team" class="img-fluid">
								<div class="card-body">
								  <h5 class="card-title">Greg Tang</h5>
								  <h6>Veterinarian</h6>
								  <p class="card-text">Id fermentum augue, ut pellen tesque leo nas. Maecenas at arcu risus Donec com modo.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3">
							<div class="card">
								<img src="assets/img/our-team-04.jpg" alt="Our Team" class="img-fluid">
								<div class="card-body">
								  <h5 class="card-title">James Shaw</h5>
								  <h6>Veterinarian</h6>
								  <p class="card-text">Id fermentum augue, ut pellen tesque leo nas. Maecenas at arcu risus Donec com modo.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<a href="#" class="btn btn-primary">Read More</a>
					</div>					
				</div>
			</section>
			<!-- /Our Team -->

			<!-- Testimonials -->
			<section class="testimonials">
				<div class="container">
					<div>
						<i class="fas fa-paw title-icon"></i>
						<p class="title-top">Testimonials</p>
						<h2 class="section-title">Kind Words From Happy Clients</h2>
					</div>
					<div class="row mt-4">
						<div class="col-md-4">
							<div class="testi-user">
								<img src="assets/img/testimonial/testi-01.png" alt="Testimonial" />
							</div>
							<div class="card">								
								<i class="fas fa-quote-left"></i>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry
									. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
									<h6>John Smith</h6>
							</div>
						</div>
						<div class="col-md-4">
							<div class="testi-user">
								<img src="assets/img/testimonial/testi-02.png" alt="Testimonial" />
							</div>
							<div class="card">								
								<i class="fas fa-quote-left"></i>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry
									. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
									<h6>Jackson Patel</h6>
							</div>
						</div>
						<div class="col-md-4">
							<div class="testi-user">
								<img src="assets/img/testimonial/testi-03.png" alt="Testimonial" />
							</div>
							<div class="card">								
								<i class="fas fa-quote-left"></i>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry
									. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
									<h6>Michael Owens</h6>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Testimonials -->
			
			<!-- Gallery -->
			<div class="gallery-section">
				<div class="gallery-slider slider">
					<div class="img-sec">
						<img src="assets/img/gal-01.jpg" class="img-fluid" alt="Gallery" />
					</div>
					<div class="img-sec">
						<img src="assets/img/gal-02.jpg" class="img-fluid" alt="Gallery" />
					</div>
					<div class="img-sec">
						<img src="assets/img/gal-03.jpg" class="img-fluid" alt="Gallery" />
					</div>
					<div class="img-sec">
						<img src="assets/img/gal-04.jpg" class="img-fluid" alt="Gallery" />
					</div>
					<div class="img-sec">
						<img src="assets/img/gal-05.jpg" class="img-fluid" alt="Gallery" />
					</div>
				</div>
			</div>
			<!-- /Our Services -->