
<!-- /Breadcrumb -->


<div class="row row-grid" *ngIf="favourites">
		<div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let fav of favourites">
			<div class="profile-widget">
				<div class="doc-img">
					<a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: fav.id}">
						<img class="img-fluid" alt="User Image" [src]="fav.profile">
					</a>
					<a class="fav-btn favorite" (click)="unfav(fav)">
						<i id="fav-btn" class="far fa-bookmark"></i>
					</a>
				</div>
				<div class="pro-content">
					<h3 class="title">
						<a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: fav.id}">{{fav.doctor_name}}</a>
						<i class="fas fa-check-circle verified"></i>
					</h3>
					<p class="speciality">{{fav.Education}}</p>
					<div class="rating">
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<span class="d-inline-block average-rating">(17)</span>
					</div>
					<ul class="available-info">
						<li>
							<i class="fas fa-map-marker-alt"></i> {{fav.location}}
						</li>
						<li>
							<i class="far fa-clock"></i> Available on&nbsp;{{fav.Available | date : "E, dd MMM"}}
						</li>
						<li>
							<i class="far fa-money-bill-alt"></i> {{fav.Price}} <i class="fas fa-info-circle" tooltip="Lorem Ipsum" placement="top"></i>
						</li>
					</ul>
					<div class="row row-sm">
						<div class="col-6">
							<a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: fav.id}" class="btn view-btn">View Profile</a>
						</div>
						<div class="col-6">
							<a [routerLink]="'/patients/booking'" [queryParams]="{id: fav.id}" class="btn book-btn">Book Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
