
<!-- Home Banner -->
<section class="section-search-3">
    <div class="container">
        <div class="banner-info">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="header-banner">
                        <h2>Search Doctor, <br> <span class="header-highlight">Make an Appointment</span></h2>
                        <p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="doctor-search">
                        <div class="doctor-form">
                            <form action="#" class="doctor-search-form trans">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="form-custom">
                                                <input type="text" class="form-control" value="" placeholder="Search Location">
                                                <i class="far fa-compass"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="form-custom">
                                                <input type="text" class="form-control" value="" placeholder="Gender">
                                                <i class="far fa-smile"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <div class="form-custom">
                                                <input type="text" class="form-control" value="" placeholder="Department">
                                                <i class="fas fa-user-check"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <a [routerLink]="'/patients/search-doctor'" class="btn banner-btn">MAKE APPOINTMENT</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Home Banner -->

<!-- category select-->
<section class="doctor-category">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="pop-box">
                    <div class="top-section">
                        <div class="cat-icon">
                            <i class="fas fa-procedures"></i>
                        </div>
                    </div>
                    <div class="body-section">
                        <h3>Visit a Doctor</h3>
                        <p>250 +  Doctors</p>
                        <a [routerLink]="'/patients/booking'" class="btn book-btn" tabindex="0">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pop-box">
                    <div class="top-section two">
                        <div class="cat-icon">
                            <i class="fas fa-plus-square"></i>
                        </div>
                    </div>
                    <div class="body-section">
                        <h3>Find a Pharmacy</h3>
                        <p>2560 +  Pharmacy</p>
                        <a [routerLink]="'/patients/booking'" class="btn book-btn" tabindex="0">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pop-box">
                    <div class="top-section three">
                        <div class="cat-icon">
                            <i class="fas fa-city"></i>
                        </div>
                    </div>
                    <div class="body-section">
                        <h3>Find a Lab</h3>
                        <p>250 +  Testing Labs</p>
                        <a [routerLink]="'/patients/booking'" class="btn book-btn" tabindex="0">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /category select-->

<!-- Clinic Section -->
<section class="clinic-specialities">
    <div class="container">
        <div class="section-header-three text-center">
                        <h2>Clinic & Specialities</h2>
                        <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="special-box text-center">
                    <div class="special-body">
                        <img src="assets/img/shapes/spec.png" alt=""/>
                        <h4>Orthopedic</h4>
                        <a [routerLink]="'/patients/booking'" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
                    </div>
                    <div class="row row-sm special-footer">
                        <div class="col-6 text-left">
                            <a href="#" class="doc-count">124 <span>Doctors</span></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="clin-count">24 <span>Clinics</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="special-box text-center">
                    <div class="special-body">
                        <img src="assets/img/shapes/spec-01.png" alt=""/>
                        <h4>Laboratry</h4>
                        <a [routerLink]="'/patients/booking'" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
                    </div>
                    <div class="row row-sm special-footer">
                        <div class="col-6 text-left">
                            <a href="#" class="doc-count">124 <span>Doctors</span></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="clin-count">24 <span>Clinics</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="special-box text-center">
                    <div class="special-body">
                        <img src="assets/img/shapes/spec-02.png" alt=""/>
                        <h4>Neurology</h4>
                        <a [routerLink]="'/patients/booking'" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
                    </div>
                    <div class="row row-sm special-footer">
                        <div class="col-6 text-left">
                            <a href="#" class="doc-count">124 <span>Doctors</span></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="clin-count">24 <span>Clinics</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="special-box text-center">
                    <div class="special-body">
                        <img src="assets/img/shapes/spec-03.png" alt=""/>
                        <h4>Cardiology</h4>
                        <a [routerLink]="'/patients/booking'" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
                    </div>
                    <div class="row row-sm special-footer">
                        <div class="col-6 text-left">
                            <a href="#" class="doc-count">124 <span>Doctors</span></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="clin-count">24 <span>Clinics</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="special-box text-center">
                    <div class="special-body">
                        <img src="assets/img/shapes/spec-04.png" alt=""/>
                        <h4>MRI Scans</h4>
                        <a [routerLink]="'/patients/booking'" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
                    </div>
                    <div class="row row-sm special-footer">
                        <div class="col-6 text-left">
                            <a href="#" class="doc-count">124 <span>Doctors</span></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="clin-count">24 <span>Clinics</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="special-box text-center">
                    <div class="special-body">
                        <img src="assets/img/shapes/spec-05.png" alt=""/>
                        <h4>Primary Checkup</h4>
                        <a [routerLink]="'/patients/booking'" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
                    </div>
                    <div class="row row-sm special-footer">
                        <div class="col-6 text-left">
                            <a href="#" class="doc-count">124 <span>Doctors</span></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="clin-count">24 <span>Clinics</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="special-box text-center">
                    <div class="special-body">
                        <img src="assets/img/shapes/spec-06.png" alt=""/>
                        <h4>Testing</h4>
                        <a [routerLink]="'/patients/booking'" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
                    </div>
                    <div class="row row-sm special-footer">
                        <div class="col-6 text-left">
                            <a href="#" class="doc-count">124 <span>Doctors</span></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="clin-count">24 <span>Clinics</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="special-box text-center">
                    <div class="special-body">
                        <img src="assets/img/shapes/spec-07.png" alt=""/>
                        <h4>Dentist</h4>
                        <a [routerLink]="'/patients/booking'" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
                    </div>
                    <div class="row row-sm special-footer">
                        <div class="col-6 text-left">
                            <a href="#" class="doc-count">124 <span>Doctors</span></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="clin-count">24 <span>Clinics</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-all-more text-center">	
            <a [routerLink]="'/patients/doctor-profile'" class="btn btn-primary">View More</a>
        </div>
    </div>
</section>
<!-- /Clinic Section -->

<!-- browse speciality-->
<section class="browse-section">
    <div class="container">
        <div class="section-header-three text-center">
                        <h2>Browse by Specialities</h2>
                        <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
        <div class="row">
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-01.png" alt=""/>
                        </div>
                        <h4>Urology</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-02.png" alt=""/>
                        </div>
                        <h4>Neurology</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-03.png" alt=""/>
                        </div>
                        <h4>Orthopedic</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-04.png" alt=""/>
                        </div>
                        <h4>Cardiologist</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-01.png" alt=""/>
                        </div>
                        <h4>Dentist</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-05.png" alt=""/>
                        </div>
                        <h4>Heart surgery</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-01.png" alt=""/>
                        </div>
                        <h4>Urology</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-02.png" alt=""/>
                        </div>
                        <h4>Neurology</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-03.png" alt=""/>
                        </div>
                        <h4>Orthopedic</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-04.png" alt=""/>
                        </div>
                        <h4>Cardiologist</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-01.png" alt=""/>
                        </div>
                        <h4>Dentist</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="brower-box">
                    <div>
                        <div class="brower-img">
                            <img src="assets/img/shapes/bro-05.png" alt=""/>
                        </div>
                        <h4>Heart surgery</h4>
                        <p>124 <span>Doctors</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-all-more text-center">	
            <a [routerLink]="'/patients/doctor-profile'" class="btn btn-primary">View More</a>
        </div>
    </div>
</section>
<!-- /browse speciality-->

<!-- Doctor Section-->
<section class="doctor-divison">
    <div class="d-flex">
        <div class="doc-background">
            <h3>ARE YOU A DOCTOR?</h3>
            <p>The service allows you to get maximum visibility online and to manage appointments and contacts coming from the site, in a simple and fast way.</p>
            <a [routerLink]="'/patients/booking'" class="doc-bok-btn">Book Now</a>
        </div>
        <div class="pat-background">
            <h3>ARE YOU A PATIENT?</h3>
            <p>The service allows you to get maximum visibility online and to manage appointments and contacts coming from the site, in a simple and fast way.</p>
            <a [routerLink]="'/patients/booking'" class="doc-bok-btn">Book Now</a>
        </div>
    </div>
</section>
<!-- /Doctor Section-->

<!-- Book Doctors-->
<section class="book-section">
    <div class="container">
       <div class="section-header-three text-center">
                        <h2>Book Our Best Doctor</h2>
                        <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="book-best-doctors">
                    <div class="book-header">
                        <a [routerLink]="'/patients/doctor-profile'"><img src="assets/img/doctors/doctor-01.jpg" alt="" class="img-fluid"></a>
                        <div class="img-overlay">
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="doctors-body">
                        <div class="inner-section">
                            <span class="float-left">PSICOLOGIST</span>
                            <div class="rating text-right">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="d-inline-block average-ratings">3.5</span>
                            </div>
                            <a [routerLink]="'/patients/doctor-profile'"><h4>Dr. Ruby Perrin</h4></a>
                            <p>MBBS, MD - General Medicine, DNB - Cardiology</p>
                        </div>
                        <div class="row row-sm loc-details">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/map-plus.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Location</span>
                                        <span class="data-info">Newyork, USA</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/alarm.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Available on</span>
                                        <span class="data-info">Fri, 22 March</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/consult.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Consulting</span>
                                        <span class="data-info">500+ Patients</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/exper.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">EXPERIENCE</span>
                                        <span class="data-info">25+ Years</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm align-items-center p-3">
                            <div class="col-6">
                                <a [routerLink]="'/patients/doctor-profile'" class="amt-txt" tabindex="0">$50 - $100</a>
                            </div>
                            <div class="col-6">
                                <a [routerLink]="'/patients/booking'" class="btn book-btn" tabindex="0">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="book-best-doctors">
                    <div class="book-header">
                        <a [routerLink]="'/patients/doctor-profile'"><img src="assets/img/doctors/doctor-02.jpg" alt="" class="img-fluid"></a>
                        <div class="img-overlay">
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="doctors-body">
                        <div class="inner-section">
                            <span class="float-left">PSICOLOGIST</span>
                            <div class="rating text-right">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="d-inline-block average-ratings">3.5</span>
                            </div>
                            <a [routerLink]="'/patients/doctor-profile'"><h4>Dr. Darren Elder</h4></a>
                            <p>MBBS, MD - General Medicine, DNB - Cardiology</p>
                        </div>
                        <div class="row row-sm loc-details">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/map-plus.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Location</span>
                                        <span class="data-info">Newyork, USA</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/alarm.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Available on</span>
                                        <span class="data-info">Fri, 22 March</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/consult.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Consulting</span>
                                        <span class="data-info">500+ Patients</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/exper.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">EXPERIENCE</span>
                                        <span class="data-info">25+ Years</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm align-items-center p-3">
                            <div class="col-6">
                                <a [routerLink]="'/patients/doctor-profile'" class="amt-txt" tabindex="0">$50 - $100</a>
                            </div>
                            <div class="col-6">
                                <a [routerLink]="'/patients/booking'" class="btn book-btn" tabindex="0">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="book-best-doctors">
                    <div class="book-header">
                        <a [routerLink]="'/patients/doctor-profile'"><img src="assets/img/doctors/doctor-03.jpg" alt="" class="img-fluid"></a>
                        <div class="img-overlay">
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="doctors-body">
                        <div class="inner-section">
                            <span class="float-left">PSICOLOGIST</span>
                            <div class="rating text-right">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="d-inline-block average-ratings">3.5</span>
                            </div>
                            <a [routerLink]="'/patients/doctor-profile'"><h4>Dr. Deborah Angel</h4></a>
                            <p>MBBS, MD - General Medicine, DNB - Cardiology</p>
                        </div>
                        <div class="row row-sm loc-details">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/map-plus.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Location</span>
                                        <span class="data-info">Newyork, USA</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/alarm.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Available on</span>
                                        <span class="data-info">Fri, 22 March</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/consult.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Consulting</span>
                                        <span class="data-info">500+ Patients</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/exper.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">EXPERIENCE</span>
                                        <span class="data-info">25+ Years</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm align-items-center p-3">
                            <div class="col-6">
                                <a [routerLink]="'/patients/doctor-profile'" class="amt-txt" tabindex="0">$50 - $100</a>
                            </div>
                            <div class="col-6">
                                <a [routerLink]="'/patients/booking'" class="btn book-btn" tabindex="0">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="book-best-doctors">
                    <div class="book-header">
                        <a [routerLink]="'/patients/doctor-profile'"><img src="assets/img/doctors/doctor-04.jpg" alt="" class="img-fluid"></a>
                        <div class="img-overlay">
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="doctors-body">
                        <div class="inner-section">
                            <span class="float-left">PSICOLOGIST</span>
                            <div class="rating text-right">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="d-inline-block average-ratings">3.5</span>
                            </div>
                            <a [routerLink]="'/patients/doctor-profile'"><h4>Dr. Sofia Brient</h4></a>
                            <p>MBBS, MD - General Medicine, DNB - Cardiology</p>
                        </div>
                        <div class="row row-sm loc-details">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/map-plus.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Location</span>
                                        <span class="data-info">Newyork, USA</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/alarm.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Available on</span>
                                        <span class="data-info">Fri, 22 March</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/consult.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">Consulting</span>
                                        <span class="data-info">500+ Patients</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <img src="assets/img/shapes/exper.png" alt="" />
                                    </a> 
                                    <a href="javascript:void(0);">
                                        <span class="available-info">EXPERIENCE</span>
                                        <span class="data-info">25+ Years</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm align-items-center p-3">
                            <div class="col-6">
                                <a [routerLink]="'/patients/doctor-profile'" class="amt-txt" tabindex="0">$50 - $100</a>
                            </div>
                            <div class="col-6">
                                <a [routerLink]="'/patients/booking'" class="btn book-btn" tabindex="0">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-all-more text-center">	
            <a [routerLink]="'/patients/doctor-profile'" class="btn btn-primary">View More</a>
        </div>
    </div>
</section>
<!-- /Book Doctors-->

<!-- Blogs -->
<section class="latest-blog">
    <div class="container">
        <div class="section-header-three text-center">
                        <h2>Our Latest Blogs</h2>
                        <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-wrap">
                    <div class="image-holder">
                        <a [routerLink]="'/blog-details'">
                            <img class="img-fluid" src="assets/img/shapes/blog-img01.jpg" alt="Post Image">
                        </a>
                    </div>
                    <div class="blog-wrap-body">
                        <h3><a [routerLink]="'/blog-details'">In this hospital there are special surgeons</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et..</p>
                        <div class="blog-footer">
                            <div class="row row-sm align-items-center">
                                <div class="col-6 text-left">
                                    <a [routerLink]="'/blog-details'" class="read-txt" tabindex="0">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="javascript:void(0);" class="cal-txt" tabindex="0"><i class="far fa-calendar-alt"></i> Jan 03, 2020</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-wrap">
                    <div class="image-holder">
                        <a [routerLink]="'/blog-details'">
                            <img class="img-fluid" src="assets/img/shapes/blog-img02.jpg" alt="Post Image">
                        </a>
                    </div>
                    <div class="blog-wrap-body">
                        <h3><a [routerLink]="'/blog-details'">World AIDS Day, designated on 1 December</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et..</p>
                        <div class="blog-footer">
                            <div class="row row-sm align-items-center">
                                <div class="col-6 text-left">
                                    <a [routerLink]="'/blog-details'" class="read-txt" tabindex="0">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="javascript:void(0);" class="cal-txt" tabindex="0"><i class="far fa-calendar-alt"></i> Jan 03, 2020</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-wrap">
                    <div class="image-holder">
                        <a [routerLink]="'/blog-details'">
                            <img class="img-fluid" src="assets/img/shapes/blog-img03.jpg" alt="Post Image">
                        </a>
                    </div>
                    <div class="blog-wrap-body">
                        <h3><a [routerLink]="'/blog-details'">More then 80 clinical trials launch to test coronavirus</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et..</p>
                        <div class="blog-footer">
                            <div class="row row-sm align-items-center">
                                <div class="col-6 text-left">
                                    <a [routerLink]="'/blog-details'" class="read-txt" tabindex="0">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="javascript:void(0);" class="cal-txt" tabindex="0"><i class="far fa-calendar-alt"></i> Jan 03, 2020</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Blogs -->
