	<!-- Footer -->
	<footer class="footer">
				
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 text-center">
						<a href="index.html" class="footer-logo logo">
							<img src="assets/img/footer-logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="social-icon media-btn mt-3 mb-2">
						<ul>
							<li>
								<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
							</li>
						</ul>
					</div>
					<div class="col-12 justify-content-center d-flex mt-4 mb-2">
						<div class="search-holder">
							<input type="text" name="search" placeholder="Your Email" />
							<button class="btn btn-yellow">Subscribe</button>
						</div>
					</div>
					<div class="col-12 mt-4 text-center">
						<ul class="policy-menu text-center">
							<li><a href="#">About Us</a></li>
							<li><a href="doctor-dashboard.html">Doctors</a></li>
							<li><a href="blog-list.html">Blogs</a></li>
							<li><a href="#">Our Clinic</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="term-condition.html">Terms and Conditions</a></li>
							<li><a href="privacy-policy.html">Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /Footer Top -->
		
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="container-fluid">
			
				<!-- Copyright -->
				<div class="copyright">
					<div class="row">
						<div class="col-md-12 col-lg-12 text-center">
							<div class="copyright-text">
								<p class="mb-0">&copy; 2020 <a href=# class="text-yellow"> Dentalcare</a> All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /Copyright -->
				
			</div>
		</div>
		<!-- /Footer Bottom -->
		
	</footer>
	<!-- /Footer -->