			<!-- Home Banner -->
			<section class="section home-banner">
				<div class="container-fluid">
					<div class="row banner-wrapper">
						<div class="col-md-12">
							<div class="banner-header">
								<h3>We are Expert in the Field</h3>
								<h1>YOUR RIGHT <span>SURGEON</span></h1>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
								<a class="btn btn-primary mt-4">Know More <i class="fas fa-arrow-circle-right ml-1"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Home Banner -->

			<!-- Banner Bottom -->
			<div class="banner-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="card">								
								<div>
									<img src="assets/img/emergency-case.png" alt="Emergency Care" />
								</div>
								<div class="care-text">
									<h2>Emergency Care</h2>
									<p>Lorem ipsum dolor sit amet sectetur adipisicing elit.</p>
								</div>								
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div>
									<img src="assets/img/qualified-doctors.png" alt="Qualified Doctors" />
								</div>
								<div class="care-text">
									<h2>Qualified Doctors</h2>
									<p>Lorem ipsum dolor sit amet sectetur adipisicing elit.</p>
								</div>																
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div>
									<img src="assets/img/services.png" alt="Services" />
								</div>
								<div class="care-text">
									<h2>24/7 Hour Service</h2>
									<p>Lorem ipsum dolor sit amet sectetur adipisicing elit.</p>
								</div>																
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Banner Bottom -->

			<!-- About Us -->
			<section class="about-us">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div>
								<h2 class="section-title">About Us</h2>
								<h3 class="mt-3">30+ years of Experience</h3>
								<p class="blue-text">We at Doccure every case completely centered around causing
									your to conquered any specialist method, with incredible responsibility and simple recuperation.</p>
							</div>							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit, Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<a class="btn btn-primary mt-4">Know More <i class="fas fa-arrow-circle-right ml-2"></i></a>
						</div>
						<div class="col-md-6">
							<img src="assets/img/about-us.png" alt="About Us" class="img-fluid" />
							<div class="media">
								<img src="assets/img/about-icon.png" class="align-self-center mr-3" alt="...">
								<div class="media-body">
								  <h5 class="mt-0">Free 15 Min Consultation</h5>
								  <p>Use the form to book your FREE 15 min telephone consultation.</p>
								  <a href="#">Know More <i class="fas fa-arrow-circle-right ml-1"></i></a>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</section>
			<!-- /About Us -->
			
			<!-- Health Care Center -->
			<section class="health-care">
				<div class="container">
					<div class="d-flex justify-content-between align-items-center mob-disp">
						<div class="d-flex justify-content-between align-items-center">
							<img src="assets/img/health-care-icon.png" alt="Health Care"/>
							<div class="health-care-text">
								<h3>Health Care Center</h3>
								<p>if you have any Emerangcy by health problem contact this No. 12346548897 or contact form</p>
							</div>
						</div>						
						<a href="#" class="btn btn-primary">Contact Us</a>
					</div>					
				</div>
			</section>
			<!-- /Health Care Center -->

			<!-- General Services -->
			<section class="general-section">
				<div class="container">
					<h2 class="section-title">General Services</h2>
					<div class="general-slider slider mt-4">
						<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="solutionSliderConfig">
						<div ngxSlickItem *ngFor="let slide of slides">
							<div class="service-img">
								<img src="{{slide.img}}" alt="General Services" />
							</div>
							<div class="service-name">
								<a href="#">{{slide.name}} <i class="fas fa-arrow-right ml-2"></i></a>
							</div>
						</div>
					</ngx-slick-carousel>
					</div>
				</div>
			</section>
			<!-- General Services -->

			<!-- Watch Our Video -->
			<section class="watch-video">
				<div class="video-title">
					<h2 class="section-title">Watch Our Videos</h2>
					<p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, </p>
				</div>
				<div class="video-main">
					<div class="container">
						<div class="video-bg-img video-sec text-center" data-video-id="JZ6DejA9lmc" data-video-format="youtube">
							<img src="assets/img/video-img.jpg" alt="Video" />
							<span class="play-btn">
								<i class="fas fa-play"></i>
							</span>
						</div>
						
						
						<div class="row counts">
							<div class="col-sm-6 col-md-3">
								<h3>25000</h3>
								<h4>Happy Patients</h4>
							</div>
							<div class="col-sm-6 col-md-3">
								<h3>180</h3>
								<h4>Experienced Doctors</h4>
							</div>
							<div class="col-sm-6 col-md-3">
								<h3>1500</h3>
								<h4>Successful Operations</h4>
							</div>
							<div class="col-sm-6 col-md-3">
								<h3>2800</h3>
								<h4>Number of Beds</h4>
							</div>
						</div>
					</div>
				</div>				
			</section>
			<!-- Watch Our Video -->

			<!-- Our Surgeons -->
			<section class="our-surgeon">
				<div class="container">
					<div>
						<h2 class="section-title">Our Surgeons</h2>
					</div>
					<div class="surgeon-slider slider mt-4">
						<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="solutionSliderConfig1">
						<div ngxSlickItem *ngFor="let slide of slides1">
							<div class="card">
								<img class="card-img-top" src="{{slide.img}}" alt="Our Surgeon">
								<div class="card-body">
								  <h5 class="card-title">{{slide.name}}</h5>
								  <h6>Surgeon</h6>
								  <p class="card-text">Lorem ipsum dolor sit amet,  onsectetur adipiscing elit, sed do eiusmod tempor</p>
								  <a href="#" class="btn btn-primary"><i class="fas fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</ngx-slick-carousel>
					</div>
				</div>
			</section>
			<!-- Our Surgeons -->

			<!-- Our Customer Says -->
			<section class="our-customer-says">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<img src="assets/img/testimonial-img.png" class="img-fluid" alt="Testimonial"/>
						</div>
						<div class="col-md-6">
							<div>
								<h2 class="section-title">What Our Customers Say</h2>
							</div>
							<p class="mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets</p>
							<h5>Lesley Turner <span>- Timber Oak Drive</span></h5>
						</div>
					</div>
				</div>
			</section>
			<!-- /Our Customer Says -->

			<!-- Our Blog -->
			<section class="our-blog">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div>
								<h2 class="section-title">Our BLog</h2>
							</div>
							<div class="row">
								<div class="media align-items-center mt-4 col-sm-6 col-md-12">
									<img class="mr-3" src="assets/img/blog-left-01.jpg" alt="Blog">
									<div class="media-body">
									  <h5 class="mt-0">15/02/2020</h5>
									  <p>Lorem ipsum, or lipsum as it is some
										times known, is dummy text</p>
									</div>
								</div>
								<div class="media mt-3 align-items-center col-sm-6 col-md-12">
									<img class="mr-3" src="assets/img/blog-left-02.jpg" alt="Blog">
									<div class="media-body">
									  <h5 class="mt-0">15/02/2020</h5>
									  <p>Lorem ipsum, or lipsum as it is some
										times known, is dummy text</p>
									</div>
								</div>
							</div>										
						</div>
						<div class="col-sm-6 col-md-3 xs-b">
							<div class="blog-img">
								<img src="assets/img/blog-right-01.jpg" alt="General Services" />
							</div>
							<div class="blog-text">
								<h6>15/02/2020</h6>
								<h5>Lorem ipsum, or lipsum as it is some imes known, is</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and  typesetting industry. Lorem Ipsum has been</p>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="blog-img">
								<img src="assets/img/blog-right-02.jpg" alt="General Services" />
							</div>
							<div class="blog-text">
								<h6>15/02/2020</h6>
								<h5>Lorem ipsum, or lipsum as it is some imes known, is</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and  typesetting industry. Lorem Ipsum has been</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Our Blog -->